{% extends "base_reports.html" %}

{% block title %}{{ article.title if article else 'Article' }} - Webb-site{% endblock %}

{% block content %}
{% if article %}
<div class="article-content">
{{ content|safe }}
</div>

{% if article.URL2 %}
<p><a href="{{ article.URL2 }}" target="_blank">{{ article.URL2text if article.URL2text else 'External link' }}</a></p>
{% endif %}
{% else %}
<h2>Article Not Found</h2>
<p>The requested article could not be found.</p>
{% endif %}
{% endblock %}
