<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<title>{{ title }}</title>
</head>
<body>
{% include 'header.html' %}

<h2>{{ title }}</h2>

<p>This page ranks the domicile of overseas companies which are registered as having a place of business in HK and are not dissolved.
All companies with a primary or secondary listing on the Stock Exchange of Hong Kong Ltd are required to be registered
(because a share registration office constitutes a place of business), but most registered
companies are not listed.</p>

<p>Note: data on domicile are often unknown after 16-Nov-2020, when we
started our last complete scan of the registry. On 22-Nov-2020, the registry
implemented a new captcha system, preventing further data collection. The
limited data available on
<a href="https://data.gov.hk/en-datasets/provider/hk-cr?order=name&file-content=no" target="_blank">
data.gov.hk</a> (comprising delayed weekly updates) only cover new registrations
and name-changes, without stating domicile.</p>

<table class="numtable">
    <tr>
        <th></th>
        <th class="left">
            <a href="{{ url_for('dbpub.domregHK', sort=('domup' if sort_param == 'domdn' else 'domdn')) }}">Domicile</a>
        </th>
        <th>
            <a href="{{ url_for('dbpub.domregHK', sort=('cntup' if sort_param == 'cntdn' else 'cntdn')) }}">Companies</a>
        </th>
        <th><b>Share %</b></th>
    </tr>
    {% for row in results %}
    <tr>
        <td>{{ loop.index }}</td>
        <td class="left"><a href="{{ url_for('dbpub.incFcal', dom=row['domicile']) }}">{{ row['friendly'] if row['friendly'] else 'Unknown' }}</a></td>
        <td>{{ "{:,}".format(row['domcnt']) }}</td>
        <td>{{ "{:.2f}".format(row['domcnt'] * 100.0 / total) if total > 0 else '0.00' }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td class="left">Total companies</td>
        <td>{{ "{:,}".format(total) }}</td>
        <td>100.00</td>
    </tr>
</table>

{% include 'footer.html' %}
</body>
</html>
