<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<style>
	.news {
		width:75%;
		float:left
	}
	.singlecol {
		display:none
	}
	.col1of2 {
		float:left;
		border-right:1px gray dotted;
		box-sizing:border-box;
		width:50%;
	}
	.col2of2 {
		float:left;
		width:50%;
	}
	.sidebar {
		float:left;
		width:25%;
		text-align:center
	}
	@media only screen and (max-width: 480px) {
		.col1of2, .col2of2 {
			display:none
		}
		.news,.singlecol,.sidebar {
			display:block;
			width:100%
		}
	}
	@media only screen and (min-width:481px) and (max-width: 768px) {
		.col1of2,.col2of2 {
			display:none
		}
		.singlecol {
			display:block;
		}
		.news {
			width:67%
		}
		.sidebar {
			width:33%
		}
	}
</style>
<title>Webb-site Reports: non-profit news, analysis and opinions | Webb-site Database</title>
<link rel="alternate" type="application/rss+xml" href="/rss.asp" title="Webb-site.com latest news">
</head>
<body>

{% include 'includes/header.html' %}
{% include 'includes/nav.html' %}

<div class="mainbody">

<div class="news">
	<div class="singlecol">
	<h3>News</h3>

	{% for story in stories %}
		<div class="artsum">
			{% if story.sourceid == 1 %}
				{# Webb-site original content - bold #}
				<a style="font-weight:bold" href="/articles/{{ story.url }}">{{ story.title }}</a>
				{% if story.url2text %}
					|&nbsp;<a href="/articles/{{ story.url2 }}"><b>{{ story.url2text }}</b></a>
				{% endif %}
				<br>
				<span style="color:blue">Webb-site.com, {{ story.storydate.strftime('%-d-%b-%Y') }}</span>
				{% if story.summary %}
					<br>{{ story.summary }}
				{% endif %}
			{% else %}
				{# External news - normal weight #}
				<a style="font-weight:normal" href="{{ story.url }}">{{ story.title }}</a>
				{% if story.url2text %}
					|&nbsp;<a target="_self" href="{{ story.url2 }}">{{ story.url2text }}</a>
				{% endif %}
				<br>
				<span style="color:gray">
				{% if story.sourcename %}{{ story.sourcename }}, {% endif %}
				{{ story.storydate.strftime('%-d-%b-%Y') if story.storydate else '' }}
				</span>
				{% if story.summary %}
					<br>{{ story.summary }}
				{% endif %}
			{% endif %}
			<br>
		</div>
	{% endfor %}

	</div>

	{# Two-column layout for desktop #}
	<div class="col1of2">
		<h3>Our stories</h3>
		{% for story in our_stories %}
			<div class="artsum">
				<a target="_self" href="{{ story.url if story.url.startswith('http') else (story.url[3:] if story.url.startswith('../') else 'articles/' + story.url) }}"><b>{{ story.title }}</b></a>
				{% if story.url2text %}
					|&nbsp;<a target="{{ '_blank' if story.url2 and story.url2.startswith('http') else '_self' }}" href="{{ story.url2 if story.url2.startswith('http') else (story.url2[3:] if story.url2.startswith('../') else 'articles/' + story.url2) }}"><b>{{ story.url2text }}</b></a>
				{% endif %}
				<br>
				{% if story.summary %}{{ story.summary }}&nbsp;{% endif %}({{ story.storydate.strftime('%-d-%b-%Y') if story.storydate else '' }})
				<br>

			</div>
		{% endfor %}
	</div>

	<div class="col2of2">
		<h3>Other news</h3>
		{% for story in other_stories %}
			<div class="artsum">
				<a href="/dbpub/artlinks.asp?s={{ story.storyid }}">{{ story.title }}</a>
				{% if story.url2text %}
					|&nbsp;<a target="{{ '_blank' if story.url2 and story.url2.startswith('http') else '_self' }}" href="{{ story.url2 if story.url2.startswith('http') else (story.url2[3:] if story.url2.startswith('../') else 'articles/' + story.url2) }}">{{ story.url2text }}</a>
				{% endif %}
				<br>
				<span style="color:gray">
				{% if story.sourcename %}{{ story.sourcename }}, {% endif %}
				{{ story.storydate.strftime('%-d-%b-%Y') if story.storydate else '' }}
				</span>
				{% if story.summary %}
					<br>{{ story.summary }}
				{% endif %}
				<br>
			</div>
		{% endfor %}
	</div>
	<div class="clear"></div>
	<div class="artsum"><strong><a href="/articles/">Previously on Webb-site.com</a></strong><br>
	Check out our full list of articles in the archive, since our launch in 1998.</div>
</div>

<div class="sidebar">
	<p><a href="/dbpub/webbchips.asp"><b>Webb-chips: current disclosed holdings</b></a></p>
	<div style="text-align:center;border:1px black solid;margin-bottom:10px">
		<p><a target="_blank" href="http://www.aqhi.gov.hk/en.html">Today's air pollution</a><br/>
		<a href="http://hedleyindex.sph.hku.hk" target="_blank">Hedley Index</a></p>
		<a target="_blank" href="https://www.weather.gov.hk/en/wxinfo/ts/webcam/CP1_photo.htm">
		<img alt="Central (Victoria Harbour)" src="https://www.weather.gov.hk/wxinfo/aws/hko_mica/cp1/latest_CP1.jpg" style="border:0;width:100%"></a>
	</div>
	{# Birthday listings #}
	<div style="border:thin black solid;margin:10px 0px;position:relative;padding:5px">
		<span style="text-align:center"><strong>Today's big birthdays, {{ today.day }}&nbsp;{{ today.strftime('%B') }}</strong></span><br>
		<i><a href="/dbpub/bornday.asp">more from Webb-site Who's Who</a></i>
		{% if birthdays %}
		<table style="width:100%">
			<tbody><tr>
				<td></td>
				<td style="text-align:right">Age</td>
			</tr>
			{% for person in birthdays %}
				<tr>
					<td style="text-align:left;"><a href="/dbpub/natperson.asp?p={{ person.personid }}">{{ person.fullname }}{{ person.cname }}</a></td>
					<td style="text-align:right;">{{ person.age }}</td>
				</tr>
			{% endfor %}
		</tbody></table>
		{% endif %}
	</div>
</div>

{% include 'includes/footerws.html' %}

</body>
</html>
