{%extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
﻿




<!--#include file="cotop.inc"-->
{% if firm>0 %}
	<h2>{{ firmName }}</h2>
	{# TODO: Port ASP logic: Call orgBar(firm,15)
End If... #}
{% if pplID>0 %}
	<h2>{{ pName }}</h2>
	{# TODO: Port ASP logic: Call pplBar(pplID,0)... #}
{% endif %}
{% if firm=0 and pplID=0 %}
	<h2>{{ title }}</h2>
{% endif %}
{# Call payBar(1)
x=CLng(con.Execute("SELECT count(DISTINCT(eDocID)) FROM("&_
	"SELECT DISTINCT d.ID eDocID FROM payerrors e JOIN (payreview r,documents d) "&_
	"ON e.docID=r.docID AND e.docID=d.ID WHERE isNull(resolved) AND r.userID="&userID&_
	" UNION SELECT DISTINCT d.ID eDocID FROM paylineerrors e JOIN (pay p,documents d,payreview r) "&_
	"ON e.payID=p.ID AND p.d=d.RecordDate AND p.orgID=d.orgID AND d.ID=r.docID "&_
	"WHERE d.docTypeID=0 AND isNull(resolved) AND r.userID="&userID&")t "&_
	"WHERE (SELECT MAX(maxRank('pay',userID)) FROM payreview WHERE docID=eDocID)<=maxRank('pay',"&userID&")").Fields(0))
If x>0 Then #}
<p><b>There are currently unresolved error reports on {{ x }} outstanding pay-years which you submitted. Please hit 
<a href="payreview.asp">Pending reports</a>, unpublish them and try to resolve the errors before submitting more data.</b></p>
{% endif %}
{% if Not slaveOn %}
	<p style="color:red"><b>This server is currently not receiving updates from the master server, so any changes you submit will not be shown. 
	We will fix this as soon as possible but in the meantime, please stop editing.</b></p>
{% endif %}
<p><form method="post" action="pay.asp">
	<input type="hidden" name="sort" value="{{ sort }}">
	Stock code:<input type="text" name="sc" maxlength="6" size="6" value="{{ IIF(sc>0,sc,"") }}" onchange="this.form.submit()">
	<input type="submit" name="submitPay" value="Go"> or <a href="searchorgs.asp?tv=firm">search firm by name</a>
</form>
</p>
<table class="txtable">
	{% if docID>0 %}
		<tr>
			<td><a href="pay.asp?firm={{ firm }}">Year-end:</a></td>
			<td>{{ d }}</td>
			<td>Source:</td>
			<td>
				{% if Not isNull(docURL) %}
					<a target="_blank" href="https://www.hkexnews.hk/listedco/listconews/{{ docURL }}#page={{ paypage }}">Annual report</a>
				{% endif %}
			</td>
		</tr>
		<tr>
			<td class="vcenter"><span class="info">PDF page<span>See Rule 3. This is usually NOT the number printed on the page!</span></span></td>
			<td class="center">
				<form method="post" action="pay.asp">
					<input type="hidden" name="sort" value="{{ sort }}">
					<input type="hidden" name="docID" value="{{ docID }}">
					<input type="hidden" name="m" value="{{ m }}">
					<input type="hidden" name="curr" value="{{ curr }}">
					<input type="number" class="num" min="1" max="65535" name="paypage" value="{{ paypage }}" onblur="this.form.submit()">
					<input type="submit" name="submitPay" value="Submit">
				</form>
			</td>
			<td class="vcenter">Input and show:</td>
			<td class="vcenter">
				<form method="post" action="pay.asp">
					<input type="hidden" name="sort" value="{{ sort }}">
					<input type="hidden" name="docID" value="{{ docID }}">
					<input type="hidden" name="curr" value="{{ curr }}">
					 {{ makeSelect("m",m,"0,units,3,thousands,4,10000s,6,millions",True) }}
				</form>
			</td>			
		</tr>
	{% elif firm>0 %}
		<tr>
			<td style="vertical-align:middle">Year-end</td>
			<td>
				<%rs.Open "SELECT d.ID,CONCAT(DATE_FORMAT(recordDate,'%Y-%m-%d'),IF(pay,' published',''),"&_
					"IF(NOT pay AND (SELECT EXISTS (SELECT 1 FROM payreview r WHERE r.docID=d.ID)),' review',''))"&_
					" FROM documents d WHERE orgID="&firm&" AND recordDate>='2005-06-30' AND recordDate<='2024-12-31' AND docTypeID=0 ORDER BY recordDate DESC",con
				If Not rs.EOF Then%>
					<form method="post" action="pay.asp">
						<input type="hidden" name="sort" value="{{ sort }}">
						<div class="inputs">{{ arrSelect("docID",docID,rs.GetRows,True) }}</div>
						<input type="submit" value="Go">
					</form>
				{% else %}
					This firm has no annual reports logged.
				{# TODO: Port ASP logic: End If
				rs.Close... #}
			</td>
		</tr>
	{% endif %}
</table>
{% if oldName>"" %}
	<p>Old organisation name: {{ oldName }}</p>
{% endif %}
{# TODO: Port ASP logic: If firm>0 And d>"" Then
	rs.open "Call payLines3("... #}
		<form method="post" action="pay.asp">
			<input type="hidden" name="sort" value="{{ sort }}">
			<input type="hidden" name="docID" value="{{ docID }}">
			<h3>Pay records</h3>
			<table class="numtable yscroll">
				<tr>
					<th></th>
					<th class="left">{# TODO: Port ASP logic: SL "Name","nam","nam"... #}</th>
					<th class="left">{# TODO: Port ASP logic: SL "Last<br>position","pos","pos"... #}</th>
					<th>{# TODO: Port ASP logic: SL "Fees","fee","fee"... #}</th>
					<th>{# TODO: Port ASP logic: SL "Salary &amp;<br>benefits","sal","sal"... #}</th>
					<th>{# TODO: Port ASP logic: SL "Bonus","bon","bon"... #}</th>
					<th>{# TODO: Port ASP logic: SL "Retire","ret","ret"... #}</th>
					<th>{# TODO: Port ASP logic: SL "Share-<br>based","sha","sha"... #}</th>
					<th>{# TODO: Port ASP logic: SL "Total","tot","tot"... #}</th>
					<th>User</th>
					{% if Not locked and not submitted %}
						<th></th>
						<th>Delete</th>
					{% endif %}
				</tr>
				{# TODO: Port ASP logic: For x=0 to Ubound(a,2)
					recList(0,x)=a(15,x)
	... #}
						<tr>
							<td class="left" colspan="12"><h4>{{ a(14,x) }}{{ Mid("{:,.\2f}".format(10^m),2) }}</h4></td>
						</tr>
					{# TODO: Port ASP logic: End If
					If rank<>lastRank Then
						Redim sum... #}
						<tr>
							<td></td>
							<td class="left" colspan="11"><h4>{{ rankArray(rank) }}</h4></td>
						</tr>
					{% endif %}
					<tr>
						<td>{{ x+1 }}</td>
						<td class="left">{{ a(5,x) }}</td>
						<td class="left">{{ a(6,x) }}</td>
						{# TODO: Port ASP logic: For y=7 To 12
							If Not isNull(a(y,x)) Then
		... #}
								<td>{{ FormatNumber(div(a(y,x),m),places) }}</td>
							{% else %}
								<td></td>
							{% endif %}
						{% endfor %}
						<td>{{ a(0,x) }}</td>
						{# TODO: Port ASP logic: If Not locked And Not submitted Then
							If ran... #}	
								<td><a href="pay.asp?sort={{ sort }}&amp;payID={{ a(15,x) }}">Edit</a></td>
								<td class="center"><input type="checkbox" name="delRec" value="{{ a(15,x) }}"></td>
							{# Else
								noDel=True 'at least one record cannot be changed or deleted #}
								<td colspan="2"></td>
							{# TODO: Port ASP logic: End If
						End If... #}
					</tr>
					{# TODO: Port ASP logic: If x<Ubound(a,2) Then
						'prefetch next row, if... #}
						<tr class="total">
							<td></td>
							<td class="left" colspan="2">Total</td>
							{# TODO: Port ASP logic: For y=0 to 5
								gsum(y)=gsum(y)+sum(y)... #}
								<td>{{ FormatNumber(div(sum(y),m),places) }}</td>
							{% endfor %}
						</tr>
						{# TODO: Port ASP logic: If (tabCurr<>lastCurr Or x=Ubound(a,2)) And gsum(5... #}
							<tr class="total">
								<td></td>
								<td class="left" colspan="2">{{ IIF(multiCurr,"Currency total","Grand total") }}</td>
								{# TODO: Port ASP logic: For y=0 to 5... #}
									<td>{{ FormatNumber(div(gsum(y),m),places) }}</td>
								{% endfor %}
							</tr>
						{# End If
					End If
				Next
				recCnt=x
				If multiCurr And Not locked Then hint=hint&"There are records in more than one currency, which is very rare. Please check the report. " #}
			</table>
			{# TODO: Port ASP logic: If payID=0 And submit<>"Add record" Then
				'we d... #}
				<div class="inputs"><input type="submit" name="submitPay" value="Delete selected"></div>
				{# TODO: Port ASP logic: If Not noDel Then
					If submit="Delete all" Then... #}
						<div class="inputs">
							<input type="submit" name="submitPay" style="color:red" value="CONFIRM DELETE ALL">
							<input type="submit" name="submitPay" value="Cancel">
						</div>
					{% else %}
						<div class="inputs"><input type="submit" name="submitPay" value="Delete all"></div>
					{% endif %}
					<div class="inputs"><input type="submit" name="submitPay" value="Correct currency"> to {{ arrSelect("curr",curr,currs,False) }}</div>
					{% if submit="Divide by 1000" %}
						<div class="inputs">
							<input type="submit" name="submitPay" style="color:red" value="CONFIRM DIVIDE BY 1000">
							<input type="submit" name="submitPay" value="Cancel">
						</div>
					{% else %}
						<div class="inputs"><input type="submit" name="submitPay" value="Divide by 1000"></div>
					{% endif %}
				{% endif %}
				<div class="clear"></div>
			{% endif %}
		</form>
		{% if hintconf>"" %}<p><b>{{ hintconf }}</b></p>{% endif %}
	{# Else
		'no records this year, so take most recent pay record instead, or default 0=HKD
		'we can assume that other years have already synched, so use local connection
		rs.Close
		rs.Open "SELECT currID,currency FROM pay JOIN currencies c ON pay.currID=c.ID WHERE orgID="&firm&" ORDER BY d DESC LIMIT 1",con
		If rs.EOF Then
			curr=0
			currName="HKD"
		Else
			curr=rs("currID")
			currName=rs("currency")
		End If
	End If
	rs.Close #}
	<p><a target="_blank" href="/dbpub/officers.asp?p={{ firm }}&amp;hide=N">View all-time officers in Renavon Hong Kong Database</a></p>
	{# 'produce form to add or edit pay
	If pplID=0 Then
		'try to find a list of directors or senior managers who don't have a pay record in this period
		'between year-end and previous year-end or 18 months earlier if no previous year found
		rs.open "Call payOfficers("&firm&",'"&d&"')",conRole
		If Not rs.EOF Then
			blnList(0)=True
			off(0)=rs.GetRows
		End If
		rs.Close
		'provide a back-up list of people who left in prior year but might have been paid this year
		If offList=1 Then
			rs.Open "Call prevOfficers2("&firm&",'"&d&"')",conRole
		Else
			'use local version for speed
			rs.Open "Call prevOfficers2("&firm&",'"&d&"')",con
		End If
		If Not rs.EOF Then
			blnList(1)=True
			off(1)=rs.GetRows
		End If
		rs.Close
	End If
	If (pplID>0 Or blnList(0) or blnList(1)) And Not locked And Not submitted Then #}
		<h3>{{ IIF(pplID>0,"Edit or delete","Add a new")&" record" }}</h3>
		<form method="post" action="pay.asp">
			<input type="hidden" name="sort" value="{{ sort }}">
			<input type="hidden" name="m" value="{{ m }}">
			{# rankNames=Array("Supervisor","Director","Sen mgr") #}
			<div class="inputs"><span class="info">Currency<span>See Rule 4. For RMB, use CNY.</span></span>: {{ arrSelect("curr",curr,currs,False) }}</div>
			<div class="clear"></div>
			{% if pplID>0 %}
				<p><a href="pay.asp?firm={{ firm }}&amp;docID={{ docID }}">Officer</a>: {{ pName&": "&rankNames(pRank) }}</p>
				<input type="hidden" name="pplID" value="{{ pplID&","&pRank }}">			
			{# Else
				For y=0 to 1
					If blnList(y) Then #}
					<div class="inputs">
						<input type="radio" name="offList" value="{{ y }}" id="o{{ y }}" {{ checked(y=offList) }}>{{ Array("Officer from this period","ex-Officer (only if paid)")(y) }} 
						<select name="pplID{{ y }}" onclick="document.getElementById('o{{ y }}').checked=true" onchange="goToFee()">
							{# TODO: Port ASP logic: For x=0 to Ubound(off(y),2)... #}
								<option value="{{ off(y)(0,x)&","&off(y)(1,x) }}" {{ selected(pplID=off(y)(0,x) And pRank=off(y)(1,x)) }}>
								{{ off(y)(3,x)&" "&rankNames(off(y)(1,x))&": "&off(y)(2,x) }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="clear"></div>
					{# End If
				Next
			End If
			'generate known aliases
			If pplID=0 Then
				s=""
				For y=0 to 1
					If blnList(y) Then s=s&","&joinCol(off(y),0)
				Next
				s=Mid(s,2)
				rs.Open "SELECT DISTINCT CAST(fnameppl(p.name1,p.name2,cName) AS NCHAR)n1,CAST(fnameppl(a.n1,a.n2,cn) AS NCHAR)n2 "&_
					"FROM people p JOIN alias a ON p.personID=a.personID WHERE p.personID IN("&s&") ORDER BY n1,n2",con
				If Not rs.EOF Then
					a=rs.GetRows #}
					<p>Known aliases in the officer list</p>
					<table class="txtable">
						<tr>
							<th>Name in officer list</th>
							<th>Alias/former name</th>
						</tr>
						{# TODO: Port ASP logic: For x=0 to Ubound(a,2)... #}
							<tr>
								<td>{{ a(0,x) }}</td>
								<td>{{ a(1,x) }}</td>
							</tr>
						{% endfor %}
					</table>
				{# TODO: Port ASP logic: End If
				rs.close
			End If... #}
			<div class="inputs" style="border:thin black solid;padding-bottom:5px;padding-left:5px;padding-right:5px">
				<p style="text-align:center"><b>Salary &amp; bens calculator</b></p>
				Salary <input class="num" type="number" step="{{ step }}" min="{{ mini }}" id="sal1" onchange="makeSB()"> + 
				benefits <input class="num" type="number" step="{{ step }}" min="{{ mini }}" id="sal2" onchange="makeSB()"> +
				more benefits <input class="num" type="number" step="{{ step }}" min="{{ mini }}" id="sal3" onchange="makeSB()">
			</div>
			<div class="clear"></div>
			<table class="numtable">
				<tr>
					<th><span class="info">Fees<span>The fees as a Director or Supervisor, not including salary, allowances and benefits</span></span></th>
					<th><span class="info">Salary<br>&amp; bens<span>Including all benefits and allowances except bonus, retirement and share-based payments</span></span></th>
					<th><span class="info">Bonus<span>Cash performance-related pay, incentives etc</span></span></th>
					<th><span class="info">Retire<span>Contributions to retirement or pension plans, or payments on retirement. If combined with other benefits, use the "Salary &amp; bens" calculator and don't use this column.</span></span></th>
					<th><span class="info">Share-<br>based<span>Value of share-based payments such as options or stock awards</span></span></th>
					<th>Total</th>
				</tr>
				<tr>
					{# TODO: Port ASP logic: 'need to have a minimum value, otherwise when we c... #}
					<td><input class="num" type="number" step="{{ step }}" min="{{ mini }}" id="fee" name="fee" value="{{ fee }}" onchange="makeTot()"></td>
					<td><input class="num" type="number" step="{{ step }}" min="{{ mini }}" id="sal" name="sal" value="{{ sal }}" onchange="makeTot()"></td>
					<td><input class="num" type="number" step="{{ step }}" min="{{ mini }}" id="bon" name="bon" value="{{ bon }}" onchange="makeTot()"></td>
					<td><input class="num" type="number" step="{{ step }}" min="{{ mini }}" id="ret" name="ret" value="{{ ret }}" onchange="makeTot()"></td>
					<td><input class="num" type="number" step="{{ step }}" min="{{ mini }}" id="sha" name="sha" value="{{ sha }}" onchange="makeTot()"></td>
					<td id="showTot">{{ tot }}</td>
				</tr>
			</table>
			{% if payID>0 and canEdit %}
				<input type="hidden" name="payID" value="{{ payID }}">
				<input type="submit" name="submitPay" value="Update">
				<input type="submit" name="submitPay" value="Delete">
			{% else %}
				<input type="hidden" name="docID" value="{{ docID }}">
				<input type="submit" name="submitPay" value="Add record">
			{% endif %}
		</form>
	{# TODO: Port ASP logic: End If
End If... #}
<p><b>{{ hint }}</b></p>
{% if docID>0 and not locked and not submitted and not noPage and recCnt>0 %}
	<hr>
	<h3>Submit completed records for approval</h3>
	{% if submit!="Submit for review" and (Not osErr) %}
		<p>I, <b>{{ Session("username") }}</b>, have <strong>carefully</strong> checked these completed pay records against the original document and now submit them for publication in the Renavon Hong Kong database. </p>
		<form method="post" action="pay.asp">
			<input type="hidden" name="docID" value="{{ docID }}">
			<input type="hidden" name="sort" value="{{ sort }}">
			<input type="submit" name="submitPay" value="Submit for review">
		</form>
	{# End If
End If
If docID>0 Then
	s="SELECT name,submitted,userID,maxRank('pay',userID)uRank FROM payreview p JOIN users u ON p.userID=u.ID WHERE docID="&docID
	'if just submitted, use master connection, otherwise local will do for speed
	If submit="Submit for review" Then rs.Open s,conRole Else rs.Open s,con
	If Not rs.EOF Then #}
		<table class="txtable">
			<tr>
				<th>Submitted by</th>
				<th>Time</th>
			</tr>
			{# Do Until rs.EOF
				If rs("uRank")>uRank Then unpub=False 'another submitter outranks the user so they cannot unpublish #}
				<tr>
					<td><a href="paysubmitted.asp?u={{ row.userID }}">{{ row.name }}</a></td>
					<td>{{ MSdateTime(row.submitted) }}</td>
				</tr>
				{# TODO: Port ASP logic: rs.MoveNext
			Loop... #}
		</table>
	{# TODO: Port ASP logic: End If
	rs.Close
End If
If docID>0 And submitted A... #}
	<form method="post" action="pay.asp">
		<input type="hidden" name="docID" value="{{ docID }}">
		<input type="hidden" name="sort" value="{{ sort }}">
		<input type="submit" name="submitPay" value="Revoke my submission">
	</form>	
{# TODO: Port ASP logic: ElseIf unpub And locked And docID>0 Then
	'user is... #}
	<form method="post" action="pay.asp">
		<input type="hidden" name="docID" value="{{ docID }}">
		<input type="hidden" name="sort" value="{{ sort }}">
		<input type="submit" name="submitPay" value="Unpublish">
	</form>
{% endif %}
<p>Ready to do some more pay-years? <b><a href="payreview.asp">Click here</a></b> for the latest documents in need of attention. </p>

{% if docID>0 and (recCnt>0 or osErr) %}
	<hr>
	<h3>Report errors in pay-year</h3>
	<form method="post" action="pay.asp">
		<input type="hidden" name="docID" value="{{ docID }}">
		<input type="hidden" name="sort" value="{{ sort }}">
		{{ arrSelect("errID",errID,con.Execute("SELECT ID,txt FROM payerrtype ORDER BY txt").GetRows,False) }}
		<input type="submit" name="submitPay" value="Report error">
	</form>
	{# s="SELECT u1.name,e.ID,e.txt,p.reported,p.userID,maxRank('pay',p.userID),u2.name,resolved FROM payerrors p "&_
		"JOIN (payerrtype e,users u1) ON p.errID=e.ID AND p.userID=u1.ID LEFT JOIN users u2 ON p.resolvedBy=u2.ID "&_
		"WHERE docID="&docID&" ORDER BY resolved, reported"
	If submit="Report error" or submit="Clear error" Then rs.Open s,conRole Else rs.Open s,con 'for speed if not just submitted
	If Not rs.EOF Then
		a=rs.GetRows #}
		<table class="txtable">
			<tr>
				<th>Reported by</th>
				<th>Error</th>
				<th>Reported</th>
				<th></th>
				<th>Resolved by</th>
				<th>Resolved</th>
			</tr>
			{# TODO: Port ASP logic: For x=0 to Ubound(a,2)... #}
				<tr>
					<td>{{ a(0,x) }}</td>
					<td>{{ a(2,x) }}</td>
					<td>{{ MSdateTime(a(3,x)) }}</td>
					<td>
						{% if (Not locked or ranking(uRank,a(4,x),a(5,x))) and isNull(a(6,x)) %}
							<form method="post" action="pay.asp">
								<input type="hidden" name="docID" value="{{ docID }}">
								<input type="hidden" name="errID" value="{{ a(1,x) }}">
								<input type="hidden" name="oUserID" value="{{ a(4,x) }}">
								<input type="hidden" name="sort" value="{{ sort }}">
								<input type="submit" name="submitPay" value="Clear error">
							</form>
						{% endif %}					
					</td>
					<td>{{ a(6,x) }}</td>
					<td>{{ MSdateTime(a(7,x)) }}</td>
				</tr>
			{% endfor %}
		</table>
	{# TODO: Port ASP logic: End If
	rs.Close... #}
	<h3>Report errors in pay-lines</h3>
	<p>If you cannot edit because you don't outrank the editor who entered the pay-line, then please report the error here. </p>
	<form method="post" action="pay.asp">
		<input type="hidden" name="sort" value="{{ sort }}">
		<div class="inputs">
			Wrong data in pay-line for officer: {{ arrSelect("payID",payID,recList,False) }}
		</div>
		<div class="inputs">
			{{ arrSelect("errID",errID,con.Execute("SELECT ID,txt FROM paylineerrtype ORDER BY ord").GetRows,False) }}
		</div>
		<div class="inputs">
			<input type="submit" name="submitPay" value="Report error">
		</div>
		<div class="clear"></div>
	</form>
	{# s="SELECT u1.name,CAST(fnameppl(pl.name1,pl.name2,pl.cName) AS NCHAR),pRank,e.reported,p.ID,e.userID,maxRank('pay',e.userID),"&_
		"u2.name,resolved,et.ID,et.txt,p.userID,maxRank('pay',p.userID) FROM paylineerrors e JOIN (pay p,people pl, users u1,paylineerrtype et) "&_
		"ON e.payID=p.ID AND p.pplID=pl.personID AND e.userID=u1.ID AND e.errID=et.ID LEFT JOIN users u2 ON e.resolvedBy=u2.ID WHERE orgID="&firm&_
		" AND p.d='"&d&"' ORDER BY resolved,reported"
	If submit="Report error" or submit="Clear line error" Then rs.Open s,conRole Else rs.Open s,con 'for speed if not just submitted
	If Not rs.EOF Then
		a=rs.GetRows #}	
		<table class="txtable">
			<tr>
				<th>Reported by</th>
				<th>Officer</th>
				<th>Rank</th>
				<th>Error</th>
				<th>Reported</th>
				<th></th>
				<th>Resolved by</th>
				<th>Resolved</th>				
			</tr>
			{# TODO: Port ASP logic: For x=0 to Ubound(a,2)... #}
				<tr>
					<td>{{ a(0,x) }}</td>
					{# TODO: Port ASP logic: If Not locked And ranking(uRank,a(10,x),a(11,x)) T... #}
						<td><a href="pay.asp?sort={{ sort }}&amp;payID={{ a(4,x) }}">{{ a(1,x) }}</a></td>
					{% else %}
						<td>{{ a(1,x) }}</td>
					{% endif %}
					<td>{{ rankArray(a(2,x)) }}</td>
					<td>{{ MSdateTime(a(3,x)) }}</td>
					<td>{{ a(10,x) }}</td>
					<td>
						{% if (Not locked or ranking(uRank,a(5,x),a(6,x))) and isNull(a(7,x)) %}
							<form method="post" action="pay.asp">
								<input type="hidden" name="payID" value="{{ a(4,x) }}">
								<input type="hidden" name="errID" value="{{ a(9,x) }}">
								<input type="hidden" name="oUserID" value="{{ a(5,x) }}">
								<input type="hidden" name="sort" value="{{ sort }}">
								<input type="submit" name="submitPay" value="Clear error">
							</form>
						{% endif %}
					</td>
					<td>{{ a(7,x) }}</td>
					<td>{{ MSdateTime(a(8,x)) }}</td>
				</tr>
			{% endfor %}
		</table>
	{# TODO: Port ASP logic: End If
	rs.Close... #}
	<p><b>{{ hinterr }}</b></p>
	<p>Please report any other errors via the <b><a href="/contact/" target="_blank">Renavon Hong Kong contact form</a></b>. 
	After data are published, if you are not outranked by an editor who approved the submission, then you can unpublish your submission to fix any reported errors. After that, hit the "Clear error" button to resolve the error, then resubmit the 
	pay-year.</p>
{# TODO: Port ASP logic: End If
Call closeConRs(conRole,rs)
Call closeCon(c... #}
<hr>
<h3>Rules</h3>
<ol>
	<li>Enter a stock code to select the company, or pick a report from the <a href="payreview.asp">
	<strong>list of pending reports</strong></a>. Click on "Year-end" to select a year. Then click on "Annual report" to open 
	the document. Mandatory disclosure
	<a href="https://www.hkex.com.hk/-/media/HKEX-Market/News/News-Release/2004/0401303news/0401304news.pdf" target="_blank">
	began</a> for financial years starting 1-Jul-2004, so in practice that means the year ending 30-Jun-2005 for some 
	companies.</li>
	<li>Search for "emoluments" or "remuneration" in the notes to the audited financial statements. If pay details also 
	appear outside of the financial statements, then use the financial statements because these are audited. Tip: start 
	at the back of the report and work forwards until you find it. Be sure to use data for the report year, not the 
	prior year.</li>
	<li>Enter the page number of the PDF where the pay records start, so that users can quickly find it. Always use the 
	number sequence in the PDF reader, not the 
	number printed on the page, which doesn't allow for the front cover etc. If your PDF reader indicates 2 numbers such 
	as "21 (23 of 150)" then the correct number is 23. Some older reports are a web page which has links to PDF sections of 
	the report. Open the correct section (e.g. "Notes to the Consolidated Financial Statements") and enter the relevant 
	PDF page number of the section.</li>
	<li>Select the reporting currency (note that the Chinese Yuan is CNY not RMB). Use the currency in the report table, 
	don't try to convert. Rarely, a company may only report pay for some of its directors in a different currency, in which 
	case we have to use that.</li>
	<li>Select the input multiplier. Most companies use thousands, and that is our default, but some use units or 
	millions. Our system will round and store all entries to the nearest thousand, with 500 rounding to the nearest even 
	thousand (<a href="https://en.wikipedia.org/wiki/Rounding#Rounding_half_to_even" target="_blank">Banker's rounding</a>). If you see data in tens of thousands 
	('0,000) then you are probably not looking at the audited financial statements (see Rule 2).</li>
	<li>Select the officer name. Work down through the table in the PDF, recording all lines. Our officer list is 
	sorted by rank (Supervisor/ Director/ Senior manager), then by status (Executive, Non-Executive, Independent 
	Non-Executive), then by name, because this is the typical order in reports. Our "Officer from this period" list shows officers 
	who served in the period 
	since the last report, or in the prior 18 months if there isn't a prior document. We also show an ex-officer list 
	if any left in the prior period. Only use that if the ex-officer was paid in the current period.</li>
	<li>If an officer is missing, it may 
	be because they are included under a different Romanized name converted from Chinese. For mainland financial groups, some 
	directors or supervisors will not appear in our lists because their appointment is not effective until approved by a 
	regulator, if ever. If 
	you still think they are missing, <a href="../contact">contact us</a>.</li>
	<li>Enter the components of the officer's pay. No need to enter zero values in columns. For speed, the "Fees" 
	component is 
	auto-filled from the previous entry as it is often the same for each officer. Change it if needed. If salary and benefits are disclosed separately then 
	you can use the "Salary" and "benefits" boxes as a calculator to add them together. We only record the total, shown 
	in the "Salary &amp; bens" box.</li>
	<li>If the report combines retirement or share-based payments with other benefits, then treat the whole amount 
	as benefits and use the 
	"Salary &amp; bens" calculator instead.</li>
	<li>If there is a breakdown of how much the officer is paid by subsidiaries, then ignore that and enter the total 
	for each component at the group level.</li>
	<li>Check the total pay of the officer, which is auto-summed as components are entered. Then hit "Add record".</li>
	<li>The Listing Rules require disclosure of the pay of all Supervisors (of mainland China companies) and Directors, so if 
	they are in our officer list but not in the table, then add them with blank (zero) pay, to record that they were 
	unpaid. 
	The Listing Rules do not require disclosure of pay for senior managers, so if they are not in the reported pay 
	table, then ignore them.</li>
	<li>Rarely, for mainland China companies an officer may move between boards (Supervisors or Directors) in a year, 
	with one line of pay for each board, so they will have 2 lines in our table. If they have simply changed status 
	within a board (e.g. from Independent Non-executive to Executive) then combine their pay into one line.</li>
	<li>Check that the totals for each component column match the totals in the report and that all entries from the 
	report are recorded. If you find any errors that you cannot fix, then report them with the forms above. If there are 
	no errors then hit "Submit for review". Any additions or corrections made after that will count against your 
	accuracy score. Users with higher accuracy will receive a higher editor ranking, to edit entries by others.</li>
	<li>If 2 editors have checked and submitted the same pay-year, then it will be automatically published.</li>
</ol>
<p>Thank you for contributing to this database for transparency of directors' pay. Once we have a full dataset, we 
	will be able to produce all sorts of comparisons and league tables - for example, board pay as a percentage of 
	market capitalisation, highest-paid directors across their directorships, rates of increase in board pay over time, and so on.</p>
<!--#include file="cofooter.asp"-->
{% endblock %}
