{% extends "base_database.html" %}

{% block title %}Broker participants: {{ stock_name }}{% endblock %}

{% block content %}
{% if issue_id == 0 %}
	<h2>Holdings of broker participants</h2>
	<p><b>{{ stock_name }}</b></p>
{% else %}
	{# TODO: Implement orgBar and ccassholdbar navigation #}
	<h2>{{ stock_name }}</h2>
	<p>Stock code: {{ stock_code }}</p>
{% endif %}

<form method="get" action="brokhist.asp">
	<input type="hidden" name="sort" value="{{ sort }}">
	<div class="inputs">
		Stock code: <input type="text" name="sc" size="5" value="">
		<input type="submit" value="Go">
	</div>
	<div class="clear"></div>
</form>

{% if issue_id > 0 %}
	<h3>Holdings of broker particpants</h3>
	{% if not history %}
		<p><b>No records for this issue.</b></p>
	{% else %}
		{# TODO: Implement mobile() function #}
		<table class="numtable yscroll">
		<tr>
			<th class="colHide1">Row</th>
			<th>
				{% if sort == "dateup" %}
					<a href="?i={{ issue_id }}&amp;sort=datedn">Holding<br>date</a>
				{% else %}
					<a href="?i={{ issue_id }}&amp;sort=dateup">Holding<br>date</a>
				{% endif %}
			</th>
			<th>Holding</th>
			<th class="colHide3">Change</th>
			<th>Stake<br>%</th>
			<th class="colHide2">Issued<br>shares</th>
			<th class="colHide1">As at date</th>
		</tr>
		{% for row in history %}
			<tr>
				<td class="colHide1">{{ loop.index }}</td>
				<td><a href="chldchg.asp?i={{ issue_id }}&amp;d={{ row.at_date }}">{{ row.at_date }}</a></td>
				<td>{{ "{:,.0f}".format(row.holding) }}</td>
				<td class="colHide3">
					{% if row.change is not none %}
						{{ "{:,.0f}".format(row.change) }}
					{% endif %}
				</td>
				{% if row.shares is not none %}
					<td>{{ "{:,.4f}".format(row.holding * 100 / row.shares) }}</td>
					<td class="colHide2">{{ "{:,.0f}".format(row.shares) }}</td>
					<td class="colHide1">{{ row.max_date }}</td>
				{% else %}
					<td></td>
					<td class="colHide2"></td>
					<td class="colHide1"></td>
				{% endif %}
			</tr>
		{% endfor %}
		</table>
	{% endif %}
{% endif %}
{% endblock %}
