<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CCASS holdings</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include 'includes/dbheader.html' %}

{% if not part %}
	<h2>CCASS holdings</h2>
	<p><b>No participant selected. Please provide a partID.</b></p>
{% else %}
	<h2>{{ participant_name }}{% if participant_name2 %} {{ participant_name2 }}{% endif %}<br>CCASS ID: {{ participant_ccassid }}</h2>

	{# Organization navigation bar - only show if participant is an org #}
	{% if person_id %}
		<ul class="navlist">
			<li><a href="{{ url_for('dbpub_statistics.orgdata', p=person_id) }}">Key Data</a></li>
			<li><a href="{{ url_for('dbpub_corporate.officers', p=person_id) }}">Officers</a></li>
			<li><a href="{{ url_for('dbpub_statistics.overlap', p=person_id) }}">Overlaps</a></li>
			<li class="livebutton">CCASS holdings</li>
		</ul>
		<div class="clear"></div>
	{% endif %}

	{# CCASS navigation bar #}
	<ul class="navlist">
		<li class="livebutton">Holdings</li>
		<li><a href="{{ url_for('ccass.portchg', p=part, d=d) }}">Changes</a></li>
		<li><a href="{{ url_for('ccass.bigchangespart', p=part) }}">Big changes</a></li>
		<li><a href="{{ url_for('ccass.bigchanges', d=d) }}">Big changes all stocks</a></li>
		<li><a href="{{ url_for('ccass.cparticipants') }}">Participants</a></li>
		<li><a target="_blank" href="{{ url_for('ccass.ccass_notes') }}">About CCASS</a></li>
	</ul>
	<div class="clear"></div>

	<h3>CCASS holdings on {{ d }}</h3>
	<form method="get" action="{{ url_for('ccass.cholder') }}">
		<input type="hidden" name="sort" value="{{ sort }}">
		<input type="hidden" name="part" value="{{ part }}">
		<div class="inputs">
			<input type="date" name="d" id="d" value="{{ d }}" onblur="this.form.submit()">
		</div>
		<div class="inputs">
			<input type="checkbox" name="z" id="z" value="1" {% if z %}checked{% endif %} onchange="this.form.submit()">
			<label for="z">Show former holdings</label>
		</div>
		<div class="inputs">
			<input type="submit" value="Go">
			<input type="submit" value="Clear" onclick="document.getElementById('d').value='';document.getElementById('z').checked=false;">
		</div>
		<div class="clear"></div>
	</form>
	<p>Valuations are at the end of the period. Hit the stake to see the history. &quot;*&quot;=stock is suspended or in parallel trading. Last close on this counter is used.</p>
	<p class="widthAlert1">Some data are hidden to fit your display.<span class="portrait"> Rotate?</span></p>
	<table class="optable yscroll">
		<tr>
			<th class="colHide1">Row</th>
			<th><a href="{{ url_for('ccass.cholder', part=part, d=d, z=z, sort='codeup' if sort != 'codeup' else 'codedn') }}"><b>Last<br>code</b></a></th>
			<th class="left"><a href="{{ url_for('ccass.cholder', part=part, d=d, z=z, sort='nameup' if sort != 'nameup' else 'namedn') }}"><b>Issue</b></a></th>
			<th class="colHide1"><a href="{{ url_for('ccass.cholder', part=part, d=d, z=z, sort='holddn' if sort != 'holddn' else 'holdup') }}"><b>Holding</b></a></th>
			<th class="colHide3"><a href="{{ url_for('ccass.cholder', part=part, d=d, z=z, sort='valndn' if sort != 'valndn' else 'valnup') }}"><b>Value</b></a></th>
			<th></th>
			<th><a href="{{ url_for('ccass.cholder', part=part, d=d, z=z, sort='stakup' if sort != 'stakup' else 'stakdn') }}"><b>Stake<br>%</b></a></th>
			<th class="colHide2"><a href="{{ url_for('ccass.cholder', part=part, d=d, z=z, sort='datedn' if sort != 'datedn' else 'dateup') }}"><b>Date</b></a></th>
		</tr>
	{% for holding in holdings %}
		<tr>
			<td class="colHide1">{{ loop.index }}</td>
			<td>{{ "%05d"|format(holding.lastCode|int) if holding.lastCode else '' }}</td>
			<td class="left"><a href="{{ url_for('dbpub_statistics.orgdata', p=holding.personID) }}">{{ holding.name1 }}</a></td>
			<td class="colHide1">{{ "{:,.0f}".format(holding.holding) }}</td>
			<td class="colHide3">{{ "{:,.0f}".format(holding.valn) if holding.valn else '' }}</td>
			<td>{% if holding.susp %}*{% endif %}</td>
			<td><a href="{{ url_for('ccass.chistory', i=holding.issueID, part=part) }}">{{ "%.2f"|format(holding.stake * 100) if holding.stake else '' }}</a></td>
			<td class="colHide2">{{ holding.atDate }}</td>
		</tr>
	{% endfor %}
	</table>
	{% if not holdings %}
		<p>None found.</p>
	{% endif %}
{% endif %}
<div class="clear"></div>
{% include 'includes/footer.html' %}
</body>
</html>
