<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CCASS holdings: {{ stock_name }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include 'includes/dbheader.html' %}

{% if not issue_id %}
	<h2>CCASS holdings</h2>
	<p><b>No stock selected. Please provide an issueID (i) or stock code (sc).</b></p>
	<form method="get" action="{{ url_for('ccass.choldings') }}">
		<div class="inputs">
			Stock code: <input type="text" name="sc" size="5" value="">
		</div>
		<div class="inputs">
			<input type="submit" value="Go">
		</div>
	</form>
{% else %}
	<h2>{{ stock_name }}</h2>

	{# Organization navigation bar - conditional on stock_listings #}
	{% if stock_listings %}
		<ul class="navlist">
			<li><a href="{{ url_for('dbpub_statistics.orgdata', p=person_id) }}">Key Data</a></li>
			<li><a href="{{ url_for('dbpub_corporate.officers', p=person_id) }}">Officers</a></li>
			<li><a href="{{ url_for('dbpub_statistics.overlap', p=person_id) }}">Overlaps</a></li>
			<li><a href="{{ url_for('dbpub_corporate.advisers', p=person_id) }}">Advisers</a></li>
			<li><a href="{{ url_for('dbpub_events.docs', p=person_id) }}">Financials</a></li>
		</ul>
		<div class="clear"></div>
	{% else %}
		<ul class="navlist">
			<li><a href="{{ url_for('dbpub_statistics.orgdata', p=person_id) }}">Key Data</a></li>
		</ul>
		<div class="clear"></div>
	{% endif %}

	{# Stock listings table and navigation - conditional on stock_listings #}
	{% if stock_listings %}
		<table class="numtable" style="margin-top:5px">
		<tr>
		<th class="left">Exchange</th>
		<th>Code</th>
		<th>Listed</th>
		<th>Last trade</th>
		<th>Delisted</th>
		<th></th>
		</tr>
		{% for listing in stock_listings %}
			<tr>
				<td class="left" style="width:75px;vertical-align:middle">{{ listing.listingName }}</td>
				<td style="text-align:left;vertical-align:middle">{{ listing.stockCode }}</td>
				<td style="vertical-align:middle">&nbsp;{{ listing.firstTradeDate.strftime('%Y-%m-%d') if listing.firstTradeDate else '' }}</td>
				<td style="vertical-align:middle">&nbsp;{{ listing.finalTradeDate.strftime('%Y-%m-%d') if listing.finalTradeDate else '' }}</td>
				<td style="vertical-align:middle">&nbsp;{{ listing.delistDate.strftime('%Y-%m-%d') if listing.delistDate else '' }}</td>
				<td></td>
			</tr>
		{% endfor %}
		</table>
		<div class="clear"></div>

		{# Stock-specific navigation #}
		<ul class="navlist">
			<li><a href="{{ url_for('dbpub_buybacks.buybacks', i=issue_id) }}">Buybacks</a></li>
			<li><a href="{{ url_for('dbpub_statistics.outstanding', i=issue_id) }}">Outstanding</a></li>
			<li><a href="{{ url_for('dbpub_statistics.str_route', i=issue_id) }}">Total return</a></li>
			<li><a href="{{ url_for('dbpub_statistics.ctr', i1=issue_id) }}">Compare returns</a></li>
			<li><a href="{{ url_for('dbpub_statistics.hpu', i=issue_id) }}">Prices</a></li>
			<li><a href="{{ url_for('dbpub_events.events', i=issue_id) }}">Events</a></li>
		</ul>
		<div class="clear"></div>
	{% else %}
		{# Empty navlist when no stock listings - matches ASP behavior #}
		<ul class="navlist">

		</ul>
		<div class="clear"></div>
	{% endif %}

	{# CCASS navigation bar #}
	<ul class="navlist">
		<li class="livebutton">Holdings</li>
		<li><a href="{{ url_for('ccass.chldchg', sort='chngdn', i=issue_id, d=d) }}">Changes</a></li>
		<li><a href="{{ url_for('ccass.bigchangesissue', i=issue_id) }}">Big changes</a></li>
		<li><a href="{{ url_for('ccass.cconchist', i=issue_id) }}">Concentration</a></li>
		<li><a href="{{ url_for('ccass.bigchanges', d=d) }}">Big changes all stocks</a></li>
		<li><a href="{{ url_for('ccass.cparticipants') }}">Participants</a></li>
		<li><a target="_blank" href="{{ url_for('ccass.ccass_notes') }}">About CCASS</a></li>
	</ul>
	<div class="clear"></div>

	{# Snapshot navigation #}
	<ul class="navlist">
		<li class="livebutton">Snapshot</li>
		<li><a href="{{ url_for('ccass.custhist', i=issue_id) }}">Custodians</a></li>
		<li><a href="{{ url_for('ccass.brokhist', i=issue_id) }}">Brokers</a></li>
		<li><a href="{{ url_for('ccass.nciphist', i=issue_id) }}">Investors</a></li>
		<li><a href="{{ url_for('ccass.ctothist', i=issue_id) }}">CCASS total</a></li>
		<li><a href="{{ url_for('ccass.reghist', i=issue_id) }}">Non-CCASS</a></li>
	</ul>
	<div class="clear"></div>

	{% if holdings|length == 0 %}
		<p><b>There are no records of CCASS holdings.</b></p>
	{% endif %}

	<form method="get" action="{{ url_for('ccass.choldings') }}">
		<input type="hidden" name="sort" value="{{ sort }}">
		<input type="hidden" name="i" value="{{ issue_id }}">
		<div class="inputs">
			Stock code: <input type="text" name="sc" size="5" value="">
		</div>
		<div class="inputs">
			<input type="date" name="d" id="d" value="{{ d }}" onblur="this.form.submit()">
		</div>
		<div class="inputs">
			<input type="checkbox" name="z" id="z" value="1" {% if z %}checked{% endif %} onchange="this.form.submit()">
			<label for="z">Show former holders</label>
		</div>
		<div class="inputs">
			<input type="submit" value="Go">
			<input type="submit" value="Clear" onclick="document.getElementById('d').value='';document.getElementById('z').checked=false;">
		</div>
		<div class="clear"></div>
	</form>

	{% if holdings|length > 0 %}
		<h3>CCASS holdings on {{ d }}</h3>
		<table class="numtable yscroll">
			<tr>
				<th class="colHide1">Row</th>
				<th><a href="{{ url_for('ccass.choldings', i=issue_id, d=d, z=z, sort='ccidup' if sort!='ccidup' else 'cciddn') }}">CCASS<br>ID</a></th>
				<th class="left"><a href="{{ url_for('ccass.choldings', i=issue_id, d=d, z=z, sort='nameup' if sort!='nameup' else 'namedn') }}">Participant</a></th>
				<th><a href="{{ url_for('ccass.choldings', i=issue_id, d=d, z=z, sort='holddn' if sort!='holddn' else 'holdup') }}">Holding</a></th>
				<th class="colHide2">Stake %</th>
			</tr>
			{% for holding in holdings %}
			<tr>
				<td class="colHide1">{{ loop.index }}</td>
				<td>{{ holding.CCASSID }}</td>
				<td class="left"><a href="{{ url_for('ccass.cholder', part=holding.partID) }}">{{ holding.partName }}</a></td>
				<td>{{ "{:,.0f}".format(holding.holding) }}</td>
				<td class="colHide2">{{ "%.2f"|format(holding.stake * 100) if holding.stake else '' }}</td>
			</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endif %}

{% include 'includes/footer.html' %}
</body>
</html>
