
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{# functions1.asp functionality moved to Python helpers #}
<!--#include virtual="/dbpub/navbars.asp"-->
{# Variables moved to Flask route #}
<title>Custodian participants: {{ n }}</title>
<link rel="stylesheet" type="text/css" href="../templates/main.css"/>
</head>
<body>
{% extends "base_database.html" %}
{% block content %}
{% if not i %}
	<h2>Holdings of custodian participants</h2>
	<p><b>{{ n }}</b></p>
{% else %}
{# TODO: Port ASP logic:
	Call orgBar(n,p,0)
	Call ccassholdbar(i,atDa... #}
{% endif %}
<form method="get" action="custhist.asp">
	<input type="hidden" name="sort" value="{{ sort }}">
	<div class="inputs">
		Stock code: <input type="text" name="sc" size="5" value="">
		<input type="submit" value="Go">
	</div>
	<div class="clear"></div>
</form>
{% if i>0 %}
	<h3>Holdings of custodian particpants</h3>
	{# TODO: Port ASP logic: If sort="dateup" Then
		ob="atDate"
	Else
		ob="at... #}
		<p><b>No records for this issue.</b></p>
	{% else %}
		{{ mobile(1) }}
		<table class="numtable yscroll">
		<tr>
			<th class="colHide1">Row</th>
			<th>{# TODO: Port ASP logic: SL "Holding<br>date","dateup","datedn"... #}</th>
			<th>Holding</th>
			<th class="colHide3">Change</th>
			<th>Stake<br>%</th>
			<th class="colHide2">Issued<br>shares</th>
			<th class="colHide1">As at date</th>
		</tr>
		{# Do Until rs.EOF
			cnt=cnt+1
			atDate=rs("atDate")
			issued=rs("shares")
			If not isNull(issued) Then issued=Cdbl(issued)
			osDate=rs("maxDate")
			If sort="dateup" Then
				lastholding=holding
				holding=CDbl(rs("holding"))
				change=holding-lastholding
				rs.MoveNext
			Else
				holding=CDbl(rs("holding"))
				rs.MoveNext
				If Not rs.EOF Then lastholding=CDbl(rs("holding"))
				change=holding-lastholding
			End If #}
			<tr>
				<td class="colHide1">{{ cnt }}</td>
				<td><a href="chldchg.asp?i={{ i }}&amp;d={{ atDate }}">{{ atDate }}</a></td>
				<td>{{ "{:,.\2f}".format(holding) }}</td>
				<td class="colHide3">{# TODO: Port ASP logic: If (sort="dateup" And cnt>1) Or (sort="datedn" And... #}</td>		
				{% if not isNull(issued) %}
					<td>{{ "{:,.\2f}".format(holding*100/issued) }}</td>
					<td class="colHide2">{{ "{:,.\2f}".format(issued) }}</td>
					<td class="colHide1">{{ osDate }}</td>
				{% else %}
					<td></td>
					<td class="colHide2"></td>
					<td class="colHide1"></td>
				{% endif %}
			</tr>
		{% endfor %}
		</table>
{% endif %}
	{# TODO: Port ASP logic: End If Call CloseConRs(con,rs)... #}
{% endblock %}
</body>
</html>