
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{# functions1.asp functionality moved to Python helpers #}
{# Navigation bars #}
{# Variables moved to Flask route #}
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="../templates/main.css">
</head>
<body>
{% extends "base_database.html" %}
{% block content %}
<h2>{{ title }}</h2>
{# TODO: Port ASP logic: Call ccassallbar(d2,4)... #}
<ul class="navlist">
	<li><a href="ipstakes.asp?d={{ d2 }}">Holdings</a></li>
	<li class="livebutton">Changes</li>
</ul>
<div class="clear"></div>	
<h3>Holding changes from {{ d1 }} to {{ d2 }}</h3>
<form method="get" action="ncipchg.asp">
	<input type="hidden" name="sort" value="{{ sort }}">
	<div class="inputs">
		From <input type="date" name="d1" id="d1" value="{{ d1 }}" onblur="this.form.submit()">
	</div>
	<div class="inputs">
		to <input type="date" name="d" id="d2" value="{{ d2 }}" onblur="this.form.submit()">
	</div>
	<div class="inputs">
		{{ checkbox("z",z,True) }} Show unchanged holdings
	</div>
	<div class="inputs">
		<input type="submit" value="Go">
		<input type="submit" value="Clear" onclick="document.getElementById('d1').value='';document.getElementById('d2').value='';document.getElementById('z').checked=false;">
	</div>
	<div class="clear"></div>
</form>
<p>"Value change" is the value of the change in shares at the closing price at the end of the period. &quot;*&quot;=stock is suspended
 or in parallel trading. Last close on this counter is used. Click the stake change to see the history in that stock.</p>
{{ mobile(2) }}
<table class="numtable yscroll">
	<tr>
		<th class="colHide1">Row</th>
		<th><a href="?d1={{ d1 }}&amp;d={{ d2 }}&amp;z={{ z }}&amp;sort={% if sort == 'codedn' %}codeup{% else %}codedn{% endif %}">Last<br>code</a></th>
		<th style="text-align:left"><a href="?d1={{ d1 }}&amp;d={{ d2 }}&amp;z={{ z }}&amp;sort={% if sort == 'namedn' %}nameup{% else %}namedn{% endif %}">Name</a></th>
		<th class="colHide2"><a href="?d1={{ d1 }}&amp;d={{ d2 }}&amp;z={{ z }}&amp;sort={% if sort == 'holddn' %}holdup{% else %}holddn{% endif %}">Holding</a></th>
		<th class="colHide2"><a href="?d1={{ d1 }}&amp;d={{ d2 }}&amp;z={{ z }}&amp;sort={% if sort == 'chngdn' %}chngup{% else %}chngdn{% endif %}">Change</a></th>
		<th class="colHide3"><a href="?d1={{ d1 }}&amp;d={{ d2 }}&amp;z={{ z }}&amp;sort={% if sort == 'hchgdn' %}hchgup{% else %}hchgdn{% endif %}">Holders<br>Change</a></th>
		<th class="colHide3"><a href="?d1={{ d1 }}&amp;d={{ d2 }}&amp;z={{ z }}&amp;sort={% if sort == 'stakdn' %}stakup{% else %}stakdn{% endif %}">Stake<br>%</a></th>
		<th><a href="?d1={{ d1 }}&amp;d={{ d2 }}&amp;z={{ z }}&amp;sort={% if sort == 'stkcdn' %}stkcup{% else %}stkcdn{% endif %}">Stake<br>&#x0394; %</a></th>
		<th><a href="?d1={{ d1 }}&amp;d={{ d2 }}&amp;z={{ z }}&amp;sort={% if sort == 'valcdn' %}valcup{% else %}valcdn{% endif %}">Value<br>change</a></th>
		<th></th>
	</tr>
	{% for row in changes %}
		<tr>
			<td class="colHide1">{{ loop.index }}</td>
			<td>{{ row.stockCode }}</td>
			<td style="text-align:left"><a href="chldchg.asp?i={{ row.issueID }}&amp;d1={{ d1 }}&amp;d={{ d2 }}">{{ row.stockName }}</a></td>
			<td class="colHide2">{{ "{:,.0f}".format(row.holding) if row.holding is not none else '' }}</td>
			<td class="colHide2">{{ "{:+,.0f}".format(row.hldchg) if row.hldchg is not none else '' }}</td>
			<td class="colHide3">{{ "{:+,.0f}".format(row.cntchg) if row.cntchg is not none else '' }}</td>
			<td class="colHide3">{{ "%.2f"|format(row.stake * 100) if row.stake is not none else '' }}</td>
			<td><a href="nciphist.asp?i={{ row.issueID }}">{{ "%.2f"|format(row.stkchg * 100) if row.stkchg is not none else '' }}</a></td>
			<td>{{ "{:+,.0f}".format(row.valchg) if row.valchg is not none else '' }}</td>
			<td>{% if row.susp %}*{% endif %}</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}
</body>
</html>