
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{# functions1.asp functionality moved to Python helpers #}
{# Navigation bars #}
{# Variables moved to Flask route #}
<title>CCASS changes of a participant</title>
<link rel="stylesheet" type="text/css" href="../templates/main.css">
</head>
<body>
{% extends "base_database.html" %}
{% block content %}
{% if m %}
	<p><b>{{ m }}</b></p>
{% else %}
{# ASP logic:
	'inputs d1 is start date, d is end date (becomes d2), p is our participant (partID)
	Call openEnigmaRs(con,rs)
	z=getBool("z")
	p=getLng("p",1)
	sort=Request("sort")
	Select Case sort
		Case "codeup" o="stockCode,stockName"
		Case "codedn" o="stockCode DESC,stockName"
		Case "nameup" o="stockName"
		Case "namedn" o="stockName DESC"
		Case "holddn" o="holding DESC,stockName"
		Case "holdup" o="holding,stockName"
		Case "chngdn" o="hldchg DESC,stockName"
		Case "chngup" o="hldchg,stockName"
		Case "stakdn" o="stake DESC,stockName"
		Case "stakup" o="stake,stockName"
		Case "stkcdn" o="stkchg DESC,stockName"
		Case "stkcup" o="stkchg,stockName"
		Case "lastdn" o="lastDate DESC,stockName"
		Case "lastup" o="lastDate,stockName"
		Case "valcdn" o="valchg DESC,stockName"
		Case "valcup" o="valchg,stockName"
		Case Else
			sort="valcdn"
			o="valchg DESC,stockName"
	End Select
	If z then e="WHERE holding<>0 " ELSE e="HAVING hldchg<>0 "
	e=e&"ORDER BY "&o
	rs.Open "SELECT partName,personID from ccass.participants WHERE partID="&p,con
	If Not rs.EOF Then
		name=rs("partName")
		person=rs("personID")
	Else
		p=1
		person=1453
	End If
	rs.Close
	If Not isNull(person) Then Call fNamePsn(person,name,isOrg)
	d2=Min(getMSdateRange("d","2007-06-27",MSdate(Date-1)),GetLog("CCASSdateDone"))
	d1=getMSdateRange("d1","2007-06-27",MSdate(Cdate(d2)-1))
	If d1>=d2 Then d1=MSdate(Cdate(d2)-1)
	rs.Open "SELECT max(settleDate) as d1 FROM ccass.calendar WHERE settleDate<='"&d1&"'",con
	d1=MSdate(rs("d1"))
	rs.Close
	URL=Request.ServerVariables("URL")&"?p="&p&"&amp;d1="&d1&"&amp;d="&d2&"&amp;z="&z
	If person<>"" Then
		If isOrg Then
			Call orgBar(name,person,7)
		Else
			Call humanBar(name,person,5)
		End If
	Else #}
		<h2>{{ name }}</h2>
	{# TODO: Port ASP logic: End If
	Call ccassbarpart(p,d2,2)... #}

	<h3>CCASS holding changes from {{ d1 }} to {{ d2 }}</h3>
	<form method="get" action="portchg.asp">
		<input type="hidden" name="sort" value="{{ sort }}">
		<input type="hidden" name="p" value="{{ p }}">
		<div class="inputs">
			From <input type="date" name="d1" id="d1" value="{{ d1 }}" onblur="this.form.submit()">
		</div>
		<div class="inputs">
			to <input type="date" name="d" id="d2" value="{{ d2 }}" onblur="this.form.submit()">
		</div>
		<div class="inputs">
			{{ checkbox("z",z,True) }} Show unchanged holdings
		</div>
		<div class="inputs">
			<input type="submit" value="Go">
			<input type="submit" value="Clear" onclick="document.getElementById('d1').value='';document.getElementById('d2').value='';document.getElementById('z').checked=false;">
		</div>
		<div class="clear"></div>
	</form>
	<p>"Value change" is the value of the holding change at the closing price at the end of the period. Hit the "stake change" to see history.
		&quot;*&quot;=stock is suspended or in parallel trading. Last close on this counter is used.</p>
	{{ mobile(1) }}
	<table class="optable yscroll">
		<tr>
			<th class="colHide1">Row</th>
			<th>{# TODO: Port ASP logic: SL "Last<br>code","codeup","codedn"... #}</th>
			<th class="left">{# TODO: Port ASP logic: SL "Name","nameup","namedn"... #}</th>
			<th class="colHide1">{# TODO: Port ASP logic: SL "Holding","holddn","holdup"... #}</th>
			<th class="colHide1">{# TODO: Port ASP logic: SL "Change", "chngdn","chngup"... #}</th>
			<th><%SL "Stake<br>%","stakdn","stakup"%></th>
			<th><%SL "Stake<br>&#x0394; %","stkcdn","stkcup"%></th>
			<th class="colHide3">{# TODO: Port ASP logic: SL "Value<br>change","valcdn","valcup"... #}</th>
			<th></th>
			<th class="colHide3">{# TODO: Port ASP logic: SL "Last<br>holding","lastdn","lastup"... #}</th>
		</tr>
		{% for row in changes %}
		<tr>
			<td class="colHide1">{{ loop.index }}</td>
			<td>{{ row.stockcode or '' }}</td>
			<td class="left"><a href="chldchg.asp?i={{ row.issueid }}&d1={{ d1 }}&d={{ d2 }}">{{ row.stockname }}</a></td>
			<td class="colHide1">{{ '{:,.2f}'.format(row.holding) if row.holding else '-' }}</td>
			<td class="colHide1">-</td>
			<td>-</td>
			<td><a href="chistory.asp?i={{ row.issueid }}&part={{ p }}">-</a></td>
			<td class="colHide3">-</td>
			<td></td>
			<td class="colHide3" style="white-space:nowrap">-</td>
		</tr>
		{% endfor %}
	</table>
	{# TODO: Port ASP logic: Call CloseConRs(con,rs) #}
{% endif %}
{# End If #}
{% endblock %}
</body>
</html>