{% extends "base_reports.html" %}

{% block title %}About Us - Webb-site Reports{% endblock %}

{% block content %}
<div class="mainbody">

<h2><strong>About Us</strong></h2>

<ul>
	<li><a href="#what">What is Webb-site?</a></li>
	<li><a href="#diff">What makes us different?</a></li>
	<li><a href="#bio">Who is David M. Webb?</a></li>
	<li><a href="/webbmail/domainlist.asp">Who reads Webb-site?</a></li>
	<li><a href="mediaroom.asp">Media room</a></li>
	<li> <a href="/photos/default.asp">Webb-Photos</a></li>
</ul>
<h4>Important notices</h4>

<ul>
	<li><a href="#copyright">Copyright notice</a></li>
	<li><a href="#disclaimer">Disclaimer</a></li>
</ul>
<h4>FAQs</h4>
<ul>
	<li><a href="#link">Can we link to Webb-site.com?</a></li>
	<li><a href="#license">Can we license your articles for our site?</a></li>
</ul>
<hr>

<h3 id="what">What is Webb-site?</h3>
<p>Webb-site was established in 1998 by <a href="#bio">David M. Webb</a>,
a former investment banker who has lived in Hong Kong since 1991. <em>Webb-site
Reports</em> provides
reports and
independent opinions with a focus on Hong Kong affairs, including but not
limited to corporate and economic governance, business, finance, investment,
legal and regulatory affairs. Webb-site also hosts <a href="/dbpub">Webb-site Who's Who</a>, an extensive database on companies,
other organisations and people in Hong Kong and elsewhere, sourced from the public
domain.</p>
<p><i>Webb-site</i> is run on a not-for-profit basis, principally funded by its founder, via Fundamental
Consultants Limited (<a href="http://fc.com" target="_blank">fc.com</a>), which
he chairs. That company also provides his services for occasional commercial
speaking engagements, although this only makes a small contribution to the costs
of running <em>Webb-site</em>.</p>
<h3 id="diff">What makes us different?</h3>
<p>In relation to our coverage of financial matters, what makes us different to
investment banks and brokers is that they are often conflicted from saying what they really
think, because their comments would be negative to the companies or government concerned
and for whom they (would like to) work. Asset managers similarly often manage
corporate pension funds, or have in-house compliance rules which prevent them
speaking freely. Similarly employees of commercial businesses can't bite the
hand or the industry that feeds them, and other media are often owned by tycoons
and businesses who have their own agenda, including doing business in China. These conflicts are not unique to HK or Asia. Few
people have the luxury of being able to speaking freely. At <i>Webb-site Reports</i>,
we usually can. </p>
<p>In general, being an online rather than offline publication allows us to link
directly to the source material (including media releases, web postings and
judgments) that offline media (including radio, TV and print) often use when
they report stories. That way, readers can check unfiltered original information
rather than just read second-hand summaries that may carry errors, omissions,
inaccuracies or bias.</p>

<p>We provide this publication as a
&quot;pro bono&quot; service to the community. We tell it the way we see it. Our goals
include:</p>

<ul>
  <li>to inform</li>
	<li>to opine</li>
	<li>to promote increased transparency and efficiency of free markets and their
    participants, including companies, governments, regulators and controlling shareholders</li>
  <li>to oppose all forms of cronyism, favouritism or protectionism by governments</li>
  <li>to oppose anti-competitive behaviour by monopolies or oligopolies</li>
  <li>to demand fair treatment for minority shareholders, to educate and inform them,
    and promote their participation in corporate decision making</li>
	<li>to promote civil liberties, including freedom of speech, thought,
	information, assembly, movement and trade, the right to private property, and the
	democratic right to elect any office which has the power to interfere with
	those freedoms.</li>
</ul>

<p>Our only material potential conflict in what we say is that from time to time we may own
long or short positions in securities issued by companies or governments on which we
comment. That's unavoidable - we've got to put our money somewhere.</p>
<h3 id="bio">Who is David M. Webb?</h3>
<p>David M. Webb is a retired investment banker. He spent 12 years in the field,
the first 5 in London before moving to Hong Kong in 1991. He was a Corporate Finance
Director of BZW Asia Limited, conducting equity issues and advisory mandates
throughout Asia until 1994, when he became in-house adviser to Wheelock, a
local listed conglomerate. He retired in 1998 and divided his time between
running <i>Webb-site.com </i>and the activities around it, and researching
the Hong Kong market, particularly smaller companies. His current roles include:</p>

<ul>
    <li><a href="https://www.exeter.ox.ac.uk/file/2025/05/Register-2024.pdf#page=156" target="_blank">Stapledon
	Benefactor</a> of Exeter College, Oxford, founder of the
	<a href="https://www.exeter.ox.ac.uk/alumni/supporting/exeter-college-incentive-scheme/" target="_blank">Exeter
	College Incentive Scheme</a> and The David M. Webb Fund for the Promotion of Academic Excellence</li>
	<li>Member of the Vice Chancellor's Circle, University of Oxford</li>
</ul>
<p>Past roles include:</p>
<ul>
  <li>Deputy Chairman of Hong Kong's
  <a href="https://www.sfc.hk/web/EN/about-the-sfc/organisational-chart/external-committees/takeovers-and-mergers-panel.html" target="_blank">Takeovers and Mergers Panel</a>
  (2013-2025), Member (2001-2025)</li>
	<li>Member of the
    <a href="https://www.sfc.hk/web/EN/about-the-sfc/organisational-chart/external-committees/takeovers-appeal-committee.html" target="_blank">Takeovers Appeal Committee</a> (2001-2025)</li>
    <li>Member of
  <a href="https://www.younggloballeaders.org" target="_blank">The Forum of
  Young Global Leaders</a> (2005-2011)</li>
	<li>elected independent non-executive director of
    <a href="/dbpub/orgdata.asp?p=9643" target="_blank">Hong Kong Exchanges and
  Clearing Limited</a> (2003-2008)</li>
	<li>member of the
    <a href="https://www.sfc.hk/en/About-the-SFC/Our-Structure/Public-Shareholders-Group" target="_blank">SFC
    Public Shareholders Group</a> (2001-2007)</li>
	<li>member of the Shareholders' Sub-committee of the HKSAR Government
    Standing Committee on Company Law Reform (2001-2004)</li>
	<li>Chairman of <a href="https://www.mensa.org.hk/">Hong Kong Mensa</a> (1998-2000), Committee Member (2000-2003)</li>
	<li>Non-executive director of
	<a href="https://web.archive.org/web/20250000000000*/http://www.asria.org/" target="_blank">ASrIA</a>
    (2001-2003)</li>
	<li>member of the <a href="/articles/gem.asp">Working Group on New Market Development</a> of the Stock Exchange of Hong Kong
    (1997-1999)</li>
</ul>
<p>Awards include:</p>

<ul>
  <li><a href="/articles/MBE.asp">Member of the Most Excellent Order of the British Empire</a> (MBE, 14-Jun-2025)</li>
	<li><em>International Financial Law Review</em> (IFLR) Market Reform Award,
  2012</li>
	<li>The <a href="https://web.archive.org/web/20120124024447/http://www.fabbas.com/awards.html" target="_blank">FABBAs Golden Telephone Award</a> &quot;for
  long-standing achievement and success in the equities industry&quot;, 2011</li>
	<li>Named one of the 50 most influential people in Asian financial markets by FinanceAsia magazine, Nov-2009</li>
	<li>Named in the
	<a href="https://web.archive.org/web/20071224014722/http://www.worldbusinesslive.com/search/article/655151/top-20-asian-progressives/" target="_blank">Top 20 Asia Progressives</a> by World Business magazine, 2007</li>
	<li>Member of CFO Magazine
	<a href="https://web.archive.org/web/20021213195904/http://www.cfo.com/Article?article=7297" target="_blank">Global
    100</a>, 2002</li>
  <li>Named by <a href="https://www.weforum.org" target="_blank">World
	Economic Forum</a> as a Global Leader for Tomorrow, 2001</li>
	<li><i>Business Week</i>
	<a href="https://web.archive.org/web/20010105165400/http://www.businessweek.com/2000/00_27/b3688009.htm" target="_blank">Star
    of Asia</a>, 2000</li>
	<li><i>Financial Technology Asia</i> magazine's TMT Analyst of the Year
    2000</li>
</ul>
<p>Mr Webb graduated in mathematics from <a href="https://www.exeter.ox.ac.uk" target="_blank">Exeter
College, Oxford University</a> in 1986 and prior to that was a computer
geek, authoring &quot;<a href="https://archive.org/details/supercharge-your-spectrum/" target="_blank">Supercharge Your Spectrum</a>&quot; (1983) and &quot;<a href="https://worldofspectrum.net/item/2000025/" target="_blank">Advanced Spectrum
Machine Language</a>&quot; (1984), both books on the subject of machine language programming
for the Z-80 based Sinclair Spectrum computer. He also wrote a number of best-selling
games for the Sinclair Spectrum, Amstrad CPC and Commodore 64, which were in the first generation of
8-bit home computers, including the space-time epic
<a href="https://zxspectrumgames.blogspot.com/2010/04/spectrum-games-programmer-interview.html" target="_blank">Starion</a>
(1985). He took his A-levels and S-levels at <a href="https://woking.ac.uk/" target="_blank">Woking Sixth Form College</a>
(now Woking College, 1981-83) and his O-levels at <a href="https://fulford.york.sch.uk/" target="_blank">Fulford
Comprehensive School</a>, York (1976-81, now Fulford School).</p>
<p>His <a href="/articles/identity.asp">HKID number</a> is P135143(9).</p>
<h3 id="copyright">Copyright Notice</h3>
<p>All material on this site, except where otherwise accredited, is copyright to
<i>Webb-site.com</i>. Media are welcome to quote from articles on this site, <strong>provided </strong>that
such quotation is attributed to &quot;<strong>Webb-site.com</strong>&quot; and
limited to one paragraph at a time. For
information on syndication or purchasing individual articles for print publication,
<a href="/contact/">contact us</a>. Educators: articles may be freely
reproduced for classes, lectures and seminars but not for sale in a textbook and
not for publication on a web site.</p>
<h3 id="link">Can we link to Webb-site.com?</h3>
<p>Yes, you may include a hyperlink to Webb-site.com or any page
therein,
provided that your link either opens a new browser window or takes the viewer
out of your site and makes Webb-site.com the &quot;top&quot; page in the current
browser window. Any framing of our material is a violation of copyright.</p>
<h3 id="license">Can we license your articles for our site?</h3>
<p>Not in English. As a matter of policy, we believe there is no merit in
licensing other publications to carry our original articles when they can easily hyperlink
their readers to <i>Webb-site.com</i>. However, if you wish to produce a
translation in Chinese or another language, and you take responsibility for the
accuracy of the translation (including any liability for libelous translation),
then please contact us for consent. </p>
<h3 id="disclaimer">Disclaimer</h3>
<p>The information in this site should not be relied upon by any person in
making any investment decision. No responsibility or liability is accepted by
Webb-site.com or any person related to it for any loss arising from or in
reliance upon the whole or any part of the contents of this site. Persons who
are in any doubt about an investment or potential investment should take
professional investment advice. From time to time parties associated with Webb-site.com
may own long or short positions in securities issued by or related to companies
or governments on which we comment.</p>

{% endblock %}
