{% extends "base_reports.html" %}

{% block title %}Election Returns - Webb-site Reports{% endblock %}

{% block content %}
<div class="clear"></div>
<div class="mainbody">

<h2>Election disclosures</h2>
<h3>The Chief Executive nomination, 2005</h3>
<h4>Donald Tsang Yam Kuen</h4>
<ul>
	<li><a href="../codocs/DT2005donationsOver1000.pdf">Donations over $1,000</a></li>
	<li><a href="../codocs/DT2005donationsUnder1000.pdf">Donations under $1,000</a></li>
	<li><a href="../codocs/DTwhipround2005.pdf">Donation request letter</a></li>
</ul>
<h3>The Chief Executive election, 2007</h3>
<p>Note: the Registration and Electoral Office initially provided us with 
redacted versions of the donation lists in which the addresses of donors were 
blacked out, making it difficult to identify the individuals. We filed a
<a target="_blank" href="/articles/ombudsman070508.asp">complaint</a> with the Ombudsman. 
The REO then changed its mind, and provided us with copies of the original 
returns. The Ombudsman <a target="_blank" href="../codocs/Ombudsman071120.pdf">
wrote</a> in its response to us:</p>
<blockquote>&quot;we consider REO to have over-reacted...REO should have sought 
further legal advice, before introducing any change at all to election returns, 
as they <strong>are required</strong> for public inspection.&quot; (their emphasis)</blockquote>
<h4>Donald Tsang Yam Kuen</h4>
<ul>
	<li><a href="../codocs/DTexpenses2007.pdf">Declaration of expenses and donations</a></li>
	<li><a href="../codocs/DT2007donationsOver1000clean.pdf">Donations of $1,000 or more</a> 
(full version)</li>
	<li><a href="../codocs/DT2007donationsOver1000black.pdf">Donations of $1,000 or more</a> 
(redacted version) 
(<a href="../codocs/DT2007donationsOver1000blackp10.pdf">updated page 10</a>)</li>
	<li><a href="../codocs/DTwhipround2007.pdf">Donation request letter</a></li>
</ul>
<h4>Alan Leong Kah Kit</h4>
<ul>
	<li><a href="../codocs/ALexpenses2007.pdf">Declaration of expenses and donations</a></li>
	<li><a href="../codocs/AL2007donationsOver1000clean.pdf">Donations over $1,000</a> 
(full version)</li>
	<li><a href="../codocs/AL2007donationsOver1000black.pdf">Donations over $1,000</a> 
(redacted version)</li>
</ul>

<h3>The Chief Executive election, 2012</h3>
<ul>
	<li><a href="../codocs/2012LeungChunYingReturn.pdf">Leung Chun Ying return</a></li>
	<li><a href="../codocs/2012HenryTangReturn.pdf">Henry Tang Ying Yen return</a></li>
	<li><a href="../codocs/2012AlbertHoReturn.pdf">Albert Ho Chun Yan return</a></li>
</ul>

<h3>The Chief Executive election, 2017</h3>

{% endblock %}
