{% extends "base_reports.html" %}

{% block title %}Hall of Shame - Renavon Hong Kong{% endblock %}

{% block content %}
<div class="mainbody">

<h2 id="top">The Hall of Shame</h2>
<p>The <i>Renavon Hong Kong</i> Hall of Shame is not for just any corporate
governance miscreant. You really have to excel at bad governance at a senior
level to gain entry to this exclusive group. In the Hall of Shame you will find
the rolls of dishonour of those directors who served jail time as well as those who
were found guilty of criminal offences but did not serve time.</p>

<p>To enter the Hall of Shame, a person must have
been a director of a past or present listed company and been convicted for crimes related to the company or its shares,
or crimes which in our view cast doubt on his or her suitability to be a
director of a listed company. </p>
<h3>Jailbirds</h3>
<p>To enter the exclusive <i>Renavon Hong Kong</i> jailbird list, a person must meet 
the Hall of Shame entry criteria and have been jailed or executed. To find details, click on the company name below. As companies 
frequently change names, the names used here are the names at the time of the 
offences or prosecution.</p>
<table class="txtable">
  <tr>
    <th>Company name</th>
    <th>Jailbird director</th>
  </tr>
  <tr>
    <td><a href="/dbpub/articles.asp?p=645">ABC Communications (Holdings) Ltd</a><br></td>
    <td>Chen Jiasong</td>
  </tr>
  <tr>
    <td><a href="/dbpub/articles.asp?p=5608">Agricultural Bank of China 
	Limited</a><br>
	  </td>
    <td>Yang Kun</td>
  </tr>
  <tr>
    <td><a href="/dbpub/articles.asp?p=2117">Allied Group Limited</a><br/>
</td>
    <td>Lee Ming Tee</td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=5014">Asia Resources Holdings Limited</a></td>
    <td valign="top">Ricky Chim Kim Lun</td>
  </tr>
  <tr>
    <td>
<a href="/dbpub/articles.asp?p=7351">Baker Group International Holdings 
Limited</a></td>
    <td valign="top">Mak Kwun Yiu<br>
	Chan Kai Yiu<br>
	</td>
  </tr>
  <tr>
    <td>
<a href="/dbpub/articles.asp?p=465">Bank of China Ltd</a></td>
    <td valign="top">Wang Xuebing<br>Liu Liange<br/>
</td>
  </tr>
  <tr>
    <td valign="top" style="height: 31px">
	<a href="/dbpub/articles.asp?p=5606">Bank of Communications Co., Ltd.</a></td>
    <td valign="top" style="height: 31px">Wang Bin</td>
  </tr>
  <tr>
    <td valign="top">
<a href="/dbpub/articles.asp?p=11291">Beijing Capital International Airport 
Company Limited</a><br>
	  </td>
    <td valign="top">Li Peiying</td>
  </tr>
  <tr>
    <td valign="top">
<a href="/dbpub/articles.asp?p=17251">BOC Hong Kong (Holdings) Limited</a><br/>
</td>
    <td valign="top">Liu Jinbao</td>
  </tr>
  <tr>
    <td valign="top" style="height: 31px">
	<a href="/dbpub/articles.asp?p=4870">C Y Foundation Group Limited</a><br>
	  </td>
    <td valign="top" style="height: 31px">Theodore Cheng Chee Tock<br>
	  </td>
  </tr>
  <tr>
    <td valign="top" style="height: 31px">
	<a href="/dbpub/articles.asp?p=5024">Capital Estate Limited</a></td>
    <td>Sio Tak Hong</td>
  </tr>
  <tr>
    <td>
<a href="/dbpub/articles.asp?p=17034">Changchun Da Xing Pharmaceutical Company Limited</a><br/>
</td>
    <td>Feng Zhen Wen<br/>
	Li Xiu Jie</td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=6584">China CITIC Bank Corporation Limited</a></td>
    <td>Sun Deshun</td>
  </tr>
  <tr>
    <td><a href="/dbpub/articles.asp?p=13901">China Conservational Power Holdings Limited</a><br></td>
    <td>Abba Chan Tat Chee<br>
	Hon Ming Kong<br>
	  </td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=1785">China Construction Bank Corporation</a></td>
    <td>Wang Xuebing<br>Zhang Enzhao</td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=4772">China Environmental Resources Group 
	Limited</a></td>
    <td>Lawrence Lo King Fat<br>
	  </td>
  </tr>
  <tr>
    <td>
<a href="/dbpub/articles.asp?p=1822">China Everbright Limited</a></td>
    <td>Ch'ng Poh<br/>
    Zhu Xiaohua</td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=2417308">China Huarong Asset Management 
	Co., Ltd.</a></td>
    <td>Lai Xiaomin</td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=18181">China Life Insurance Company Limited</a></td>
    <td>Wang Bin</td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=5624">China Merchants Bank Co., Ltd.</a></td>
    <td>Charley Song Lin</td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=24029">China Metal International Holdings 
	Inc.</a><br>
	</td>
    <td>Ho Ming Shiann</td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=49620">China Metal Recycling (Holdings) Limited</a></td>
    <td>Lai Wun Yin</td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=4841">China Mining Resources Group Limited</a><br>
	  </td>
    <td>Peter Joseph Luk Kin</td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=4800">China Mobile Limited</a><br>
	</td>
    <td>Zhang Chunjiang<br>
	Lu Xiangdong<br>
	  </td>
  </tr>
  <tr>
    <td>
<a href="/dbpub/articles.asp?p=4810">China Motion Telecom International 
Limited</a><br/>
	</td>
    <td>Hau Tung Ying<br/>
	Li Bin<br>
	</td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=23459">China Netcom Group Corporation (Hong 
	Kong) Limited</a><br>
	</td>
    <td>Zhang Chunjiang</td>
  </tr>
  <tr>
    <td>
<a href="/dbpub/articles.asp?p=9490">China Petroleum &amp; Chemical Corporation</a></td>
    <td>Chen Tonghai<br>Su Shulin<br>Wang Tianpu<br>
	  </td>
  </tr>
  <tr>
    <td style="height: 31px">
	<a href="/dbpub/articles.asp?p=1108">China Resources Beer (Holdings) 
	Company Limited</a></td>
    <td style="height: 31px">Charley Song Lin</td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=2570">China Resources Gas Group Limited</a></td>
    <td>Charley Song Lin</td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=2568">China Resources Land Limited</a></td>
    <td>Charley Song Lin</td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=21375">China Resources Microelectronics 
	Limited</a></td>
    <td>Charley Song Lin</td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=18184">China Resources Power Holdings 
	Company Limited</a></td>
    <td>Charley Song Lin</td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=5013">China Rich Holdings Limited</a><br>
	  </td>
    <td>Kelly Cheng Kit Yin</td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=4873">China Sciences Conservational Power 
	Limited</a><br>
	  </td>
    <td>Abba Chan Tat Chee<br>
	Anthony Chow Ho Tung<br>
	Hon Ming Kong<br>
	  </td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=12140">China Taiping Insurance Holdings 
	Company Limited</a></td>
    <td>Wang Bin</td>
  </tr>
  <tr>
    <td>
	<a href="/dbpub/articles.asp?p=1579">Chinese Estates Holdings Limited</a><br>
	  </td>
    <td>Joseph Lau Luen Hung (sentenced in absentia)<br>
	  </td>
  </tr>
  <tr>
    <td>
<a href="/dbpub/articles.asp?p=4802">Chintex Oil and Gas Company Limited</a><br/>
</td>
    <td>James Coe</td>
  </tr>
  <tr>
    <td>
<a href="/dbpub/articles.asp?p=581">CITIC Ka Wah Bank Limited</a><br/>
</td>
    <td>Jin Deqin</td>
  </tr>
  <tr>
    <td>
<a href="/dbpub/articles.asp?p=2538">Climax International Company Limited</a><br/>
</td>
    <td>Kenneth Fung Kin Yuen<br>
	Chan Hoi Lam<br>
	  </td>
  </tr>
  <tr>
    <td><a href="/dbpub/articles.asp?p=58895">Convoy Global Holdings Limited</a></td>
    <td>Mark Mak Kwong Yiu<br>
	  </td>
  </tr>
  <tr>
    <td><a href="/dbpub/articles.asp?p=14707">Eco-Tek Holdings Limited</a><br>
	  </td>
    <td>Lily Chiang Lai Lei<br>
	Tahir Hussain Shah<br>
	Pau Kwok Ping<br>
	  </td>
  </tr>

{% endblock %}
