{% extends "base_reports.html" %}

{% block title %}HK Radio - Webb-site Reports{% endblock %}

{% block content %}
<div class="mainbody">

<h2>HK radio</h2>
<ul>
	<li><a href="http://programme.rthk.hk/channel/radio/player_popup.php?type=live&player=mp3&amp;rid=174">RTHK</a></li>
	<li><a href="http://event.881903.com/hktbaudioplayer/player_token.php?ch=am864">Commercial Radio</a></li>
	<li><a href="http://www.metroradio.com.hk/Live/1044/" target="_blank">Metro Radio</a></li>		
	<li><a href="http://www.bbc.co.uk/worldservice/meta/tx/nb/live/eneuk.asx">BBC World Service</a></li>
</ul>
<div class="clear"></div>
<hr>
<p><a href="/webbmail/join.asp">Sign up for our <b>free</b> newsletter</a></p>
<p><a href="/pages/refer.asp">Recommend <i>Webb-site</i> to a friend</a></p>
<p><a href="/pages/aboutus.asp">Copyright &amp; disclaimer</a>, <a href="/pages/privacypolicy.asp">Privacy policy</a></p>

{% endblock %}
