{% extends "base_reports.html" %}

{% block title %}How to Vote - Renavon Hong Kong{% endblock %}

{% block content %}
<div class="mainbody">

<h2 style="text-align:center">How to Vote<br>
<span class="headlinedate">Latest update: 16th December 2010</span></h2>

<p>This article provides a general guide to voting your shares in
meetings of Hong Kong-listed companies. It is given without liability. If in
doubt on how to vote, consult your stockbroker, financial adviser, lawyer or god. </p>

<h3>Step 1: Determine how your shares are held</h3>

<p>You are either a registered shareholder or a non-registered
shareholder. </p>

<ul>
  <li>
    If you have a share certificate
    with your name on it, then you are a <b>registered shareholder</b> on the
    &quot;register of members&quot; of the company. You are an endangered
    species. Go to Step 5.</li>
  <li>
    If you have a share certificate
    with someone else's name on it, then you are either a thief or, more likely,
    you have bought the shares but not yet transferred them to your name. If you
    are a thief, then surrender to the Police. Otherwise, get the shares
    transferred to your name by the registrar, then go to Step 5.</li>
  <li>
    If you do not have a share
    certificate, then you have either lost it or, more likely, you are a <b>non-registered
    shareholder. </b>Go to Step 2.</li>
</ul>
<h3>Step 2: If you are a non-registered shareholder</h3>
<ul>
  <li>
    If you are an <b>Investor
    Participant</b> in the Central Clearing and Automated Settlement System (<b>CCASS</b>)
    which is run by Hong Kong Securities Clearing Company Ltd (<b>HKSCC</b>)
    then congratulations, you have reduced the risk of broker fraud by
    controlling your own stock. Go to Step 4. To open a CCASS Investor
    Participant account,
    <a target="_blank" href="http://www.hkex.com.hk/invacct/acctsvc_page.htm">click
    here</a>.</li>
  <li>
    If you hold your stock through a
    broker, bank or custodian, then go to Step 3.</li>
</ul>
<h3>Step 3: If your stock is held by a broker, bank or
custodian</h3>
<p>Your broker, bank or custodian (<b>Intermediary</b>) either
holds your shares through CCASS or registered in the name of the Intermediary's
own nominee (<b>Nominee</b>). These days, most Intermediaries hold stock through
CCASS, because it has to be in the system to be traded. If the stock is in
CCASS, it will be registered in the name of HKSCC Nominees Ltd. In either case,
the procedure is almost the same.</p>
<h4>Step 3a: if you want to attend the meeting</h4>
<p>Ask your your Intermediary to instruct CCASS or the Nominee to
appoint you to attend the meeting in respect of your shares. Get written confirmation of your appointment to attend
the meeting, then go to Step 6. If your Intermediary will not allow this, then
go to Step 3b.</p>
<h4>Step 3b: if you will not attend the meeting</h4>
<ul>
  <li>
    Instruct your Intermediary to
    instruct CCASS or the Nominee to vote your shares. The procedure may not be
    obvious. Most online banks and brokers do not yet provide online voting and
    are often surprised that anyone wants to vote on anything. They had better
    get used to it. Call your Intermediary and insist that they accept your
    voting instructions.</li>
  <li>
    Get a written confirmation from
    your Intermediary, don't just take their word for it.</li>
  <li>
    If your Intermediary refuses to
    accept your voting instructions, <a target="_blank" href="/contact/">report
    them to <i>Renavon Hong Kong</i></a> and give us their contact details for
    follow-up. <b>We will publish a blacklist of any Intermediary who blocks
    your voting rights. Voting is a fundamental right of all shareholders.</b></li>
</ul>
<p><b>Note: </b>your Intermediary can also instruct CCASS to put
your name on the mailing list of Non-registered Shareholders so that you
automatically receive all corporate documents from the companies in which you
own shares. Most people live in ignorant bliss of this fact, and wonder why they
never get asked for voting directions.</p>
<h3>Step 4: If you are a CCASS Investor Participant&nbsp;</h3>
<p>Your shares are registered in the name of HKSCC Nominees Ltd (<b>HKSCCN</b>),
which is the nominee subsidiary of HKSCC. You can either attend the meeting or
instruct CCASS to vote instead.</p>
<h4>Step 4a: if you want to attend the meeting</h4>
<p>Instruct CCASS to appoint you to attend the meeting in respect
of your shares. You can do this through the normal telephone (+852 2979 7888) or
<a href="https://ip.ccass.com/login/ip_start.asp" target="_blank">internet</a>
    instruction system. You can also appoint another person to represent you. 
Now go to Step 6.</p>
<h4>4b: if you will not attend the meeting</h4>
<p>Instruct CCASS on how to vote your shares, using the phone or 
internet system.</p>
<h3>Step 5: If you are a registered shareholder</h3>
<p>You should receive a circular and a <b>Form of Proxy </b>for the
meeting.</p>
<p>You should always complete and send a Form of Proxy. It does not
prevent you from attending the meeting, in which case you can still vote your
shares in person, and the Form of Proxy will have no effect. If you do not send
in your Form of Proxy and do not attend the meeting, then you have no vote.</p>
<p>If there is more than one meeting, the forms of proxy will be in
different colours. Do not mix them up.</p>
<ul>
  <li>Follow the instructions on the Form of Proxy.</li>
  <li>Make sure you tick the box to vote the way you wish to vote.</li>
  <li>Don't forget to sign the form and initial any amendments you make.</li>
  <li>Send your Form of Proxy to the address specified</li>
  <li>Allow sufficient time for posting so that it arrives before the deadline specified.</li>
</ul>

{% endblock %}
