{% extends "base_reports.html" %}

{% block title %}Listing Loopholes - Webb-site Reports{% endblock %}

{% block content %}
<div class="mainbody">

<h2 style="text-align:center">The Practitioner's Guide to Listing Rule Loopholes<br>
<span class="headlinedate">Latest update: 28th May, 2004</span></h2>

<p>Over the years we have identified a number of what we regard as loopholes in the
Listing Rules of the <a href="http://www.sehk.com.hk">Stock Exchange of Hong Kong</a>. We
have made these known to the Exchange and some of them have been fixed, while 
many remain outstanding. If you are an investor, then you should be
aware of these gaps because they may affect the value of your investment. If you are an
issuer, then you probably know them already. Some of you may think it is irresponsible to
highlight these loopholes, but well-run companies will not use them if they value their
investors, and we think it is for the greater good that the public be aware of them and
that the Exchange fix them as soon as possible.</p>

<p>A sample of the known problems is listed here (in no particular order): </p>

<ul>
  <li><a href="#ConnectedT">In shareholder meetings, your vote seldom counts</a></li>
  <li><a href="#DelayInsider">Delayed reporting of results facilitates directors'
    insider-dealing</a></li>
  <li><a href="#UnrepINED">Independent directors are unrepresentative</a></li>
  <li><a href="#DiscloseInt">Directors' interests in associated
    companies are often meaningless or undisclosed</a></li>
  <li><a href="#howbig">How big is your company?</a></li>
</ul>
<p>The Listing Rules themselves can be found on the Exchange's
<a target="_blank" href="http://www.hkex.com.hk/rule/index/rulesandguidelines.htm">site</a>.</p>

<hr/>

<h3 id="Meetings"><strong>In shareholder meetings, your vote seldom 
counts</strong></h3>

<p>In a general meeting of shareholders, all votes are normally held on a show of hands, 
in which the only hands that are counted are those in the meeting. Proxies are 
ignored.
It doesn't matter how many shares you've got, you only have one hand. If you feel strongly
about this, then you can show up and try to get a poll, where each share has one vote.
However (depending on the articles of association of your company) normally only the
following people can demand a poll: </p>

<ul>
  <li>The Chairman (let's assume that a minority shareholder is unlikely to be the Chairman);
    or</li>
  <li>Three to five shareholders (depending on the law and constitution of the 
  company) present in person or by proxy; or</li>
  <li>Shareholder(s) who together own 10% of the Company, present in person or by proxy.</li>
</ul>

<p>Often only 25% of the company (the minimum) is in public hands, so it's unlikely that
10% will be present in the meeting. A further problem is that most of the public hold
their shares in the clearing system (<a href="http://www.hkclearing.com.hk/">CCASS</a>),
often via their bank, broker or custodian, because that is how they received the shares
when they bought them, and they have to be in the system to settle a sale. Since May 1998,
it has also been possible to hold your stock directly in the CCASS system as an
&quot;investor participant&quot;. That's what we do, because the fees are lower than most
brokers will charge you, and there is no risk of the broker running away with the stock.
If you withdraw the stock from CCASS and register it in your own name, this will cost you
dearly, and in any case it makes scripless settlement rather pointless. So although CCASS
may hold most of the public shares in a company, it is only one shareholder, and is
unlikely to satisfy the second criterion above.</p>

<p>In practice, the votes of the public are nearly always overwhelmed by the hands of
employee shareholders, who receive a script and instructions from their boss on
how to vote. On cue, a young employee will stand up and say something like &quot;Mr.
Chairman, I have pleasure in seconding the resolution&quot;. The chances are that each
such shareholder holds only a small number of shares, but that doesn't matter on a show of
hands; there will be more of them than there are of you, and they will win.</p>

<p>Before a meeting is held, CCASS seeks instructions from its participants and aggregates
all the votes, then forwards them to the company by filling in a proxy form. Often they
will send someone to actually attend the meeting, but that person can only cast one vote
on a show of hands, so they make a single vote based on the majority of instructions
received. Only if there is a poll will the shares count.</p>

<p>CCASS will only demand a poll if it has specific instructions to do so from 
participants holding at least 10% of the issued shares. The CCASS input systems 
do not have an option for requesting this, so participants have to specially 
contact CCASS staff to request it.</p>

<p>So next time you consider instructing your broker, custodian or bank to vote at a
meeting, remember - it probably won't count. The only requirement for poll 
voting in the Listing Rules is if a transaction is subject to approval by 
independent shareholders, in which the controlling shareholders or other 
interested parties have to abstain.</p>

<p>For more information on this problem and what <i>Webb-site.com</i> has been 
doing to address it, see our <a target="_blank" href="/articles/pollsapart.asp">
Project Poll</a>.</p>

<h4>Solution</h4>

<p>The solution is simple. The Listing Rules should require that all votes in 
meetings of shareholders should be held on a poll. </p>

<p><small><a href="#Top">Back to top</a></small></p>

<hr/>

<h3 id="DelayInsider">Delayed reporting of results facilitates directors' insider-dealing</h3>

<p>The listing rules contain a model code for directors' transactions in shares of their
own companies. Under these rules, directors are prohibited from dealing in the shares <u>one
month prior to the announcement</u> of half-year or full-year results. Under the Listing
Rules, interim results may be published up to 3 months after the half-year end, and final
results up to 4 months after the full year-end. So by delaying the announcements to the
last possible moment, directors can deal up to 2 months after the half-year end or 
3
months after the full year-end. Yes, they actually have an incentive to delay the results.
It's no wonder that there is always a rush of announcements in the last week of 
April (for
December year-ends) and July (for March).</p>

<p>It might be argued that it takes time to get results together and reviewed, but then
why is it that the most complex organisations, such as large banks and conglomerates,
announce their results with months to spare? In 2002 the Exchange proposed shortening the reporting deadline, to 2 months for interims and 3 months for
final results, but abandoned this under pressure from the listed companies. The fresher the information, the more useful it is to investors, who as a
minority are often starved of information all year. A 4-month old balance sheet is often
pretty meaningless, and on average it will be 10 months old (half way through 
the year). Meanwhile, directors and controlling shareholders have access to 
internal management accounts whenever they want them, creating an insider 
dealing advantage.</p>

<h4>Solution</h4>

<p>The simple solution to the defect in the Model Code is to change the rules so that
directors are prohibited from dealing <u>from  the half-year end (or full
year-end)</u> until results are published. From this point on , directors have a pretty
good idea what the results will be. Indeed, in a well-run company, they should be able to
project results based on orders-in-hand <u>before</u> the end of the financial period. If
they were prohibited from dealing from  after the period-end then they would have
an incentive to get the results out so that they can deal again.</p>

<p><small><a href="#Top">Back to top</a></small></p>

<hr/>

<h3 id="UnrepINED">Independent directors are not</h3>

<p>A few years ago, after a wave of particularly bad abuses of minority 
shareholders, the Exchange thought that it would be a good idea to require all 
companies to have at least 2 directors who are &quot;independent&quot; non-executive 
directors, or INEDs. That is, they are not part of the management, each holds 
less than 1% of the shares of the company, and has no financial or other 
interest in the business of the group. Effective 30-Sep-04, that requirement 
increases to 3 INEDs, of whom at least one must have &quot;appropriate professional 
qualifications or accounting or related financial management expertise.&quot;</p>

<p>Unfortunately, the rules stopped there. These INEDs are appointed by the rest of the
board, who are normally also the controlling shareholders. If a director is appointed by
the board then he must be re-elected at the next AGM, and thereafter by rotation
(typically standing for re-election every 3 years). However, the controlling shareholders
will, by definition, have far more influence than independent shareholders in such
meetings. In effect, the INEDs are appointed by the controlling
shareholders (of whom they are supposed to be independent), not by the independent shareholders they are supposed to represent. In fact,
they are so closely allied to the executive directors that, if a company is taken over,
the INEDs will usually resign at the same time as the executive directors, and the new
controlling shareholder will appoint new &quot;independent&quot; directors of his choice.</p>

<p>Often, you will see the same two names of INEDs on the boards of several listed
companies in the same group. The Exchange should ban this, because it means that if two
such companies do a connected transaction (as often happens), then the INEDs will be on
both sides of the deal and will be conflicted out, which leaves no directors to give a
recommendation to independent shareholders on how to vote.</p>

<p>INEDs are often unqualified. They can be school friends of the Chairman, or 
medical doctors, or cadres in mainland towns in which the companies do business. 
Too many INEDs are little more than rubber stamps who resign at the first sign 
of trouble.</p>

<p>Bankers often sit on the boards of their clients as INEDs, and the directors 
and controlling shareholders of such clients often sit on the board of the bank 
as an INED. The banking relationship represents a conflict of interest for both 
sides. From 30-Sep-04, being a &quot;professional adviser&quot; to a company counts 
against the assessment of independence, as does &quot;being involved in any material 
business dealings&quot;. However, it is doubtful whether bank staff would be captured 
by this rule unless they had a material ownership interest in the bank. That's 
wrong, because what matters is that they work for the bank and have a duty to 
the bank which may conflict with their duty to the company. </p>

<h4>Solution</h4>

<ul>
  <li>All INEDs should be re-elected annually, on a poll, from which directors and controlling
    shareholders are prohibited from voting.</li>
  <li>No INED should sit on the board of more than one company with the same controlling
    shareholder(s).</li>
  <li>Bankers (and anyone else with a commercial relationship with the company) 
  should be prohibited from acting as INEDs of clients and vice versa.</li>
  <li>The INEDs should be required to write a report to be included in the annual accounts,
    drawing the attention of shareholders to any breaches of the listing rules or poor
    corporate governance during the year.</li>
</ul>

<p>If all of the above measures are adopted, then we will have far more representative
INEDs who take their job seriously. Boards could still propose INEDs for 
election, but if independent shareholders are not satisfied then they could nominate 
alternative candidates, subject to a nomination threshold (say 1% of the 
company) to prevent having thousands of candidates at each election. With such a 
system, the board would normally nominate candidates who <u>are</u> acceptable 
to independent shareholders. Better
investor representation in the boardroom would reduce abuses and improve the return to independent shareholders.</p>

<p><small><a href="#Top">Back to top</a></small></p>

<hr/>
<h3 id="DiscloseInt">Directors' interests in associated companies are often meaningless or undisclosed</h3>

<p>The listing agreement of each issuer requires that in the
annual directors' report, it will contain disclosure of directors' shareholdings in the
company and its &quot;associated corporations&quot; within the meaning of the Securities
and Futures Ordinance (&quot;SFO&quot;). &quot;Associated corporation&quot;
in this case means a subsidiary or associated company of the listed company or of its
holding company.</p>

<p>The details required to be disclosed are the name of the company in which securities
are held, the class to which those securities belong (e.g. ordinary shares) and the number
of such securities held. Unfortunately, the rules <u>do not</u> require disclosure of the
percentage of the issued shares that the interest represents.</p>

<p>Now if we look in the notes to the accounts, and if that company is a &quot;principal
subsidiary&quot;, then we may get lucky and find out how many shares are in issue, so we
can do the calculation ourselves. However, if the company is not a principal subsidiary,
then no details will appear, while if it is an associated company (i.e. owned as to
between 20% and 50%), then the accounts often disclose only the percentage held by the
listed issuer and sometimes the total issued par value of each class of share capital in
the subsidiary, not the number of shares into which it is divided. So it might say
something like &quot;$10,000&quot; but you won't know if that is 10,000 shares of $1 or
100,000 shares of $0.10 each.</p>

<p>When this is the case, this makes the disclosure in the directors' report almost
worthless - you know that the directors have an interest, but you don't know what
percentage interest they have, so the number of shares they hold means nothing.</p>

<h4>Solutions</h4>

<p>The Listing Rules should be amended so that the directors' report discloses both the number of
shares held, and the percentage of the class of shares that the holding represents. This
should apply to interests in the shares of the listed issuer as well as its associated
companies (within the meaning of the SDI). That way, we wouldn't have to break out the
calculators to figure out what percentage of the company the directors own.</p>

<p><small><a href="#Top">Back to top</a></small></p>

<hr/>
<h3 id="howbig">How big is your company?</h3>

<p>Believe it or not, there is no obligation on listed companies
to publicly disclose when they issue new shares, only when they buy them back.
They privately apply to the SEHK for listing of any new shares, but the SEHK
does not announce when listing has been granted.</p>

<p>The only time you are sure to know is when the Company
publishes a prospectus (for example, in a rights issue) or when the annual
accounts are published (which may be up to 4 months after the year end).
Otherwise, disclosure is optional.</p>

<p>So after a placing has been announced, you will not know when
it is completed. If it is a &quot;best efforts&quot; placing, you won't know how
many shares are finally issued. When employees exercise their share options, you
will not know. When shares are issued as deferred consideration under a
previously announced transaction, you won't know.</p>

<p>The best guess you can get at issued shares is to go to the
HKEx web site and find the <a href="http://www.hkex.com.hk/invest/company/profilemenu_page_e.asp" target="_blank">company
profile</a> page. This will give you a number of issued shares at a certain
date, but that is often several months old and you have no idea what happened in
between.</p>

<p>All of this makes life difficult for index compilers who have
to work to an approximation of companies' issued shares when computing their
market capitalsiations, which in turn affects the weighting of those companies
in an index. The only thing they can do is call up the registrar periodically
and if they are nice, the registrar will tell them how many shares are
outstanding. Alternatively, any member of the public can physically inspect the
register, except when it is closed to determine entitlements such as dividends.
But who has time to do that? Incidentally, share registers are not on line.</p>

<p>Another problem is that there is a law requiring shareholders
of 5% or more  of the issued shares to report whenever their
holding increases or decreases through a 1% boundary (for example, from 5.99%
to 6.01%) - but how are they to know what percentage they own, if they can't
check the number of issued shares on the transaction date?</p>

<h4>Solution</h4>

<p>As the share register is the ultimate determinant of whether
shares have been issued, all registrars should be required to provide this
information to the SEHK whenever new shares are issued. The SEHK should then maintain, on its web site, a daily-updated
list of all issues of listed shares in each company, and the date on which they
were issued.&nbsp;</p>

<p>A database with a web-based interface would do the trick. This
should include the daily share buy-back data (after all, buy-backs are just
negative issues) so that the net issued shares at any time are known.</p>

<p>An alternative method would be require the listed companies to disclose the 
share allotments to the Exchange. This is not difficult - listed companies 
already disclose share buy-back information to the Exchange by 9 a.m. the 
following morning after the buybacks are done.</p>

<p><small><a href="#Top">Back to top</a></small></p>
<div class="clear"></div>
<hr>
<p><a href="/webbmail/join.asp">Sign up for our <b>free</b> newsletter</a></p>
<p><a href="/pages/refer.asp">Recommend <i>Webb-site</i> to a friend</a></p>
<p><a href="/pages/aboutus.asp">Copyright &amp; disclaimer</a>, <a href="/pages/privacypolicy.asp">Privacy policy</a></p>

{% endblock %}
