{% extends "base_reports.html" %}

{% block title %}Privacy Policy - Webb-site Reports{% endblock %}

{% block content %}
<div class="mainbody">

<h2>Privacy policy</h2>
		<ol>
			<li>When you visit this or any other web site, the public Internet Protocol (IP) address of the
			computer, router or proxy through which you visit the site is used
			to send web pages back to you. The IP address is also automatically
			recorded in our server logs for statistical purposes such as
			measuring how often that IP address visits the site and how many web
			pages are sent to that IP address. Behind a home or corporate router or
			a coffee shop with a public IP address, there may be multiple users
			with private addresses that we do not see.</li>
			<li>When you <a href="/webbmail/join.asp">open a free Webb-site
			account</a> in order to receive our e-mail newsletter or participate
			in Webb-site Governance and Trust Ratings or vote in our opinion
			polls, we
			record your e-mail address so that we can send you an activation
			link, otherwise we would not know where to
			send it.</li>
			<li>We do not ask for or record your name or any other
			demographic data.</li>
			<li>We do not share
			your e-mail address with third parties.</li>
			<li>If you store any data such as a list of stocks, organisations or
			people that you follow in Webb-site Who's Who, this will not be
			passed to any third party unless anonymised to remove the
			association with your e-mail address. However, if you are at all
			concerned about storing data, then either don't do it, or use an
			e-mail address that nobody (apart from you) knows is associated with
			you. We don't know your identity, so this is not "personal data". We
			may generate aggregate statistics such as "most followed stocks" from
			data stored by our users.</li>
			<li>While we take reasonable steps to prevent accidental
			erasure, we shall not be liable for any deletion of user data stored
			on the site.</li>
			<li>When you log in to your Webb-site account, you can choose to
			stay signed-in for up to 1 month on that browser. To do that, we
			have to place an authentication token in a "cookie" in your browser.
			The token does not itself contain identifiable information, it is
			just a random 128-bit number converted into a string. We store a
			one-way cryptographic hash of the token, so that we can recognise
			your browser and open a session when you visit the site. When you
			log out, all your tokens in all your browsers are voided. Cookies
			are only exchanged over secure (HTTPS using TLS) links.</li>
			<li>This server is based in the USA. We manage it from wherever
			we are in the world, and you view it from wherever you are in the
			world.</li>
			<li>Any third parties whose content appears on our site may also
			place cookies in your browser. For example, if we ever decide to display Google advertising, then Google uses
			a &quot;<a href="https://support.google.com/adsense/answer/2839090" target="_blank">DoubleClick
			cookie</a>&quot; to enable it and its partners to serve ads based on your
			visits to this and/or other sites. That's why advertisements seem to
			follow you around the web. You can opt out of the use of the
			DoubleClick cookie for interest-based advertising by visiting
			Google's
			<a href="http://www.google.com/ads/preferences/" target="_blank">Ads
			Settings</a> or for third parties in general by visiting
			<a href="http://www.aboutads.info/choices/" target="_blank">AboutAds.info</a>, but then you may see less relevant advertising
			instead. Alternatively you could visit sites using the incognito or
			&quot;<a href="https://en.wikipedia.org/wiki/Privacy_mode" target="_blank">private
			browsing</a>&quot; mode of your web browser to prevent cookie collection.
			Failing that, by continuing to use this web site you are deemed to
			consent to the use of such cookies.
			<a href="http://www.google.com/policies/privacy/partners/">For more
			on Google's policies, click here</a>.</li>
</ol>

{% endblock %}
