{% extends "base_reports.html" %}

{% block title %}Tell a Friend - Webb-site Reports{% endblock %}

{% block content %}
<div class="mainbody">

	<h2>Tell a Friend!</h2>
	<p>We run on a not-for-profit basis. We don't buy advertising.
	You probably heard about this site through personal referral or from the media.
	So if you enjoy <i> Webb-site Reports</i> and the issues it covers, or the
	<em><a href="/dbpub">Webb-site Who's Who</a></em> database, please
	recommend us to your friends.</p>

{% endblock %}
