{% extends "base_reports.html" %}

{% block title %}Other Stuff - Renavon Hong Kong{% endblock %}

{% block content %}
<div class="mainbody">

<h2>Other stuff</h2>
<ul>
	<li><a href="/HAMS/">HAMS proposal</a></li>
	<li><a href="electiondisclosures.asp">Election returns</a></li>
	<li><a href="/articles/PECSregister.asp">PECS register</a></li>
	<li><a href="/pages/loopholes.asp">Listing Loopholes</a></li>
	<li><a href="/books/">Webb-Books</a></li>
	<li><a href="/news/">Old newsletters</a></li>
	<li><a href="/dbpub/subject.asp?c=160">Laughing Stock</a></li>
	<li><a href="https://www.hongkongairport.com/en/flights/arrivals/passenger.page">Flight arrivals</a></li>
	<li><a href="https://www.hongkongairport.com/en/flights/departures/passenger.page">Flight departures</a></li>
	<li><a href="https://www.liveatc.net/search/?icao=HKG">Air traffic radio</a></li>
	<li><a href="https://www.hkemobility.gov.hk/en/traffic-information/live/cctv">Road traffic</a></li>
	<li><a href="https://www.weather.gov.hk/en/">Weather</a></li>
	<li><a href="/dbpub/idcheck.asp">HKID check digit</a></li>
</ul>

{% endblock %}
