{% extends "base_reports.html" %}

{% block title %}Tools - Webb-site Reports{% endblock %}

{% block content %}
<div class="mainbody">

<h2>Tools</h2>
<ul>
	<li><a href="/pages/howtovote.asp">How to vote</a></li>
	<li><a href="/library/">Reference library</a></li>
	<li><a href="/cg/">CG directory</a></li>
	<li><a href="https://www.icris.cr.gov.hk/csci/login_i.do?loginType=iguest&username=iguest">Companies Registry</a></li>
	<li><a href="http://sdinotice.hkex.com.hk/di/NSSrchMethod.aspx?src=MAIN&lang=EN&in=1">Dealing disclosures</a></li>
	<li><a href="http://www.hsi.com.hk">Hang Seng Index</a></li>
	<li><a href="http://legalref.judiciary.gov.hk/lrs/common/ju/newjudgments.jsp">Judgments</a></li>
</ul>

{% endblock %}
