{% extends "base_database.html" %}

{% block title %}Stock Code: {{ code }}{% endblock %}

{% block content %}
<h2>Stock Code: {{ code }}</h2>

{% if delisted|length > 0 %}
	<h3>Delisted securities</h3>
	<table class="txtable">
	<tr>
		<th>Issuer</th>
		<th>Type</th>
		<th>Listed</th>
		<th>Final trade</th>
		<th>Delisted</th>
		<th>Reason</th>
	</tr>
	{% for security in delisted %}
		<tr>
			<td><a href="{{ url_for('dbpub.enigma_orgdata', p=security.OrgID) }}">{{ security.Org }}</a></td>
			<td>{{ security.SecType }}</td>
			<td>{{ security.FirstTradeDate }}</td>
			<td>{{ security.FinalTradeDate }}</td>
			<td>{{ security.DelistDate }}</td>
			<td>{{ security.Reason }}</td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	<p><b>Database not yet loaded. Awaiting PostgreSQL import.</b></p>
	<p>This page will show currently listed and delisted securities using stock code {{ code }}.</p>
{% endif %}
{% endblock %}
