{% extends "base_database.html" %}

{% block content %}
<h2>Stock Code: {{ code }}</h2>

{% if delisted|length > 0 %}
<h3>Delisted securities</h3>
<table class="txtable">
<tr>
	<th>Issuer</th>
	<th>Type</th>
	<th>Listed</th>
	<th>Final trade</th>
	<th>Delisted</th>
	<th>Reason</th>
</tr>
{% for security in delisted %}
	<tr>
		<td><a href='../dbpub/orgdata.asp?p={{ security.orgid }}'>{{ security.org }}</a></td>
		<td>{{ security.sectype }}</td>
		<td>{{ security.firsttradedate if security.firsttradedate else '' }}</td>
		<td>{{ security.finaltradedate if security.finaltradedate else '' }}</td>
		<td>{{ security.delistdate if security.delistdate else '' }}</td>
		<td>{{ security.reason if security.reason else '' }}</td>
	</tr>
{% endfor %}
</table>
{% else %}
<p>No delisted securities found.</p>
{% endif %}
{% endblock %}
