{% extends "base_database.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<p>This table shows the directors of companies with a
HK primary listing
and the number of seats they held on any snapshot date since 1-Jan-1990. For a
distribution of INED seats per person, <a href="/dbpub/INEDHKDistnPeople.asp?d={{ d }}">click here</a>,
and for distribution of all seats per person, <a href="/dbpub/DirsHKDistnPeople.asp">click here</a>.
For a league table of average annual relative returns, <a href="/dbpub/leagueDirsHK.asp">click here.</a></p>


<form method="get" action="/dbpub/dirsHKPerPerson.asp">
    <input type="hidden" name="sort" value="{{ sort }}">
    <div class="inputs">
        Snapshot date: <input type="date" name="d" id="d" value="{{ d }}" onblur="this.form.submit()">
    </div>
    <div class="inputs">
        <input type="submit" value="Go">
        <input type="submit" value="clear" onclick="document.getElementById('d').value='';"/>
    </div>
    <div class="clear"></div>
</form>

<p>Number of people who are directors on the snapshot date: {{ directors|length }}</p>

{{ mobile_alert|safe }}
<table class="numtable yscroll">
    <tr>
        <th class="colHide3"></th>
        <th class="left">{{ sort_links.name|safe }}</th>
        <th>{{ sort_links.count|safe }}</th>
        <th>{{ sort_links.ined|safe }}</th>
        <th>{{ sort_links.sex|safe }}</th>
        <th>{{ sort_links.age|safe }}</th>
    </tr>
    {% for director in directors %}
    <tr>
        <td class="colHide3">{{ loop.index }}</td>
        <td class="left"><a href='/dbpub/positions.asp?p={{ director.director }}'>{{ director.name }}</a></td>
        <td>{{ director.numseats }}</td>
        <td>{{ director.ined }}</td>
        <td>{{ director.sex }}</td>
        <td>{% if director.age %}{{ director.age }}{% else %}-{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
