{% extends "base_database.html" %}

{% block title %}Events: {{ n }}{% endblock %}

{% block content %}
{% if i == 0 %}
	<h2>Events of an issue</h2>
	<p><b>{{ n }}</b></p>
{% else %}
	{# TODO: Call orgBar(n,p,0) and stockBar(i,8) here when implemented #}
	<h2>{{ n }}</h2>
{% endif %}
<ul class="navlist">
	<li><a href="TRnotes.asp" target="_blank">Notes</a></li>
</ul>
<div class="clear"></div>
<form method="get" action="events.asp">
	<input type="hidden" name="s" value="{{ sort }}">
	<div class="inputs">
		Stock code: <input type="text" name="sc" size="5" value="">
		<input type="submit" value="Go">
	</div>
	<div class="clear"></div>
</form>
{% if i > 0 %}
	<h3>Events</h3>
	{% if events and events|length > 0 %}
		<p><b>Please
		<a href="/contact">report</a> any errors or desired features.</b></p>
		<p class='widthAlert1'>Some data are hidden to fit your display.<span class='portrait'> Rotate?</span></p>
		<style>table.c4-6r td:nth-child(n+4):nth-child(-n+6) {text-align:right} th:nth-child(n+4):nth-child(-n+6) {text-align:right};</style>
		<table class="txtable c4-6r">
			<tr>
				<th class="colHide3"><a href="events.asp?i={{ i }}&sort={% if sort == 'anndup' %}annddn{% else %}anndup{% endif %}"><b>Announced</b></a></th>
				<th class="colHide3">Year-end</th>
				<th><a href="events.asp?i={{ i }}&sort={% if sort == 'evntup' %}evntdn{% else %}evntup{% endif %}"><b>Type</b></a></th>
				<th>Amount</th>
				<th class="colHide3">Value<br>in quote<br>curr.</th>
				<th>New:<br>Old</th>
				<th><a href="events.asp?i={{ i }}&sort={% if sort == 'exdtdn' %}exdtup{% else %}exdtdn{% endif %}"><b>ex-Date</b></a></th>
				<th class="colHide1">Distri-<br>bution</th>
				<th class="colHide1">Notes</th>
			</tr>
		{% for event in events %}
			<tr>
				<td class="colHide3">{{ event.announced }}</td>
				<td class="colHide3" style="white-space:nowrap">{{ event.yearend }}</td>
				<td>{{ event.change }}</td>
				<td>{{ event.amount if event.amount else '' }}</td>
				<td class="colHide3">{{ event.price if event.price else '' }}</td>
				<td>{{ event.newold if event.newold else '' }}</td>
				<td>{{ event.exdate if event.exdate else '' }}</td>
				<td class="colHide1">{{ event.distribution if event.distribution else '' }}</td>
				<td class="colHide1">{{ event.notes if event.notes else '' }}</td>
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<p>No events.</p>
	{% endif %}
{% endif %}
{% endblock %}
