{% extends "base_database.html" %}

{% block title %}HK law firms{% endblock %}

{% block content %}
<h2>HK law firms</h2>

{# solsBar navigation - matches ASP solsBar(p,5) function #}
<ul class="navlist">
	<li><a href='/dbpub/hksols.asp?p={{ p }}'>By name</a></li><li class='livebutton'>By firm</li><li><a href='/dbpub/hksolsadmhk.asp?p={{ p }}'>By year</a></li><li><a href='/dbpub/hksolsmoves.asp?p={{ p }}'>Moves</a></li><li><a href='/dbpub/hksolsadmos.asp?p={{ p }}'>Overseas</a></li><li><a href='/dbpub/hksolemps.asp?p={{ p }}'>Non-law firms</a></li>
</ul>
<div class="clear"></div>

<p>This table lists all current HK firms seen in the
<a href="http://www.hklawsoc.org.hk/pub_e/memberlawlist/mem_firm.asp" target="_blank">Law Society's Law List</a>
and their respective numbers of partners, assistant solicitors, consultants and
sole proprietor admitted in HK. Some people are associated with more than one firm. Click
a column heading to sort.</p>

<form method="get" action="hksolfirms.asp">
	<div class="inputs">
		Snapshot date: <input type="date" name="d" id="d" value="{{ d }}" onblur="this.form.submit()">
	</div>
	<div class="inputs">
		<input type="submit" value="Go">
		<input type="submit" value="clear" onclick="document.getElementById('d').value='';">
	</div>
	<div class="clear"></div>
</form>

<table class="numtable c2l">
	<tr>
		<th class="colHide3 right"></th>
		<th><a href="?d={{ d }}&amp;p={{ p }}&amp;sort={% if sort == 'orgup' %}orgdn{% else %}orgup{% endif %}">Firm</a></th>
		<th><a href="?d={{ d }}&amp;p={{ p }}&amp;sort={% if sort == 'partdn' %}partup{% else %}partdn{% endif %}">Part.</a></th>
		<th><a href="?d={{ d }}&amp;p={{ p }}&amp;sort={% if sort == 'soldn' %}solup{% else %}soldn{% endif %}">Ass.<br>sol.</a></th>
		<th><a href="?d={{ d }}&amp;p={{ p }}&amp;sort={% if sort == 'condn' %}conup{% else %}condn{% endif %}">Cons.</a></th>
		<th><a href="?d={{ d }}&amp;p={{ p }}&amp;sort={% if sort == 'propdn' %}propup{% else %}propdn{% endif %}">Sole<br>prop.</a></th>
		<th><a href="?d={{ d }}&amp;p={{ p }}&amp;sort={% if sort == 'totdn' %}totup{% else %}totdn{% endif %}">Total</a></th>
	</tr>
	{% for firm in firms %}
		<tr>
			<td class="colHide3 right">{{ loop.index }}</td>
			<td><a href='officers.asp?p={{ firm["personid"] }}&amp;d={{ d }}'>{{ firm["name1"] }}</a></td>
			<td>{{ firm["partner"] }}</td>
			<td>{{ firm["sol"] }}</td>
			<td>{{ firm["con"] }}</td>
			<td>{{ firm["prop"] }}</td>
			<td>{{ firm["tot"] }}</td>
		</tr>
	{% endfor %}
	<tr class="total">
		<td class="colHide3"></td>
		<td>Total</td>
		<td>{{ totals["partner"] }}</td>
		<td>{{ totals["sol"] }}</td>
		<td>{{ totals["con"] }}</td>
		<td>{{ totals["prop"] }}</td>
		<td>{{ totals["tot"] }}</td>
	</tr>
</table>
{% endblock %}
