{% extends "base_database.html" %}
{% block title %}The HKID index{% endblock %}
{% block content %}
<h2 style="text-align:center">The HKID index: service suspended<br/>
A special message from our Founder<br/>
<span class="headlinedate">15th February 2013</span></h2>

<p>Dear Readers,</p>

<p>Webb-site has this evening received an e-mail letter from Hong Kong's
<a href="http://www.pcpd.org.hk" target="_blank">Privacy Commissioner for
Personal Data</a> (<strong>PCPD</strong>), stating that it has read newspaper
reports about the Webb-site HKID Index and is "duty bound to examine any possible
contravention of the Personal Data (Privacy) Ordinance" (<strong>PDPO</strong>).
The PCPD has also been briefing members of the media about its enquiries and theories.</p>

<p>Webb-site always acts lawfully. All of the information in our database comes
from public sources and has therefore been previously disclosed. All of this aims to increase transparency and accountability.</p>

<p>Wherever possible, the WWW database avoids mistaken identity. The use of a
unique identifier, such as a government-issued ID number or passport number,
substantially reduces mistaken identity.</p>

<h3>No sense</h3>

<p>We do not collect data from individuals, and have therefore never needed to
seek their consent. It goes against common sense to suggest that anyone who
records publicly available information is breaching the PDPO.</p>

<p>Accordingly, with immediate effect, the Webb-site HKID index is indefinitely suspended.</p>

<p>A Supreme Court Justice once said that "Sunlight is the best disinfectant".
This has been a dark day for transparency in Hong Kong.</p>

<p>David M. Webb<br/>Founder, Webb-site.com</p>
{% endblock %}
