{% extends "base_database.html" %}

{% block title %}HK-listed companies without web sites{% endblock %}

{% block content %}
<h2>HK-listed companies without web sites</h2>

<p>As far as we know, the following HK-listed companies have no web site. If you know of one, then please
<a href="../contact/">tell us</a>! For a list of
those who do have web sites, <a href="../dbpub/hklistcowebs.asp">click here</a>.</p>

{% if companies %}
<table class="txtable">
    {% for company in companies %}
    <tr><td><a href='orgdata.asp?p={{ company.personid }}'>{{ company.name }}</a></td></tr>
    {% endfor %}
</table>
{% else %}
<p><b>None found.</b></p>
{% endif %}
{% endblock %}
