{% extends "base_database.html" %}

{% block title %}HK companies{% if typename %}: {{ typename }}{% endif %}{% endblock %}

{% block content %}
<h2>HK companies{% if typename %}: {{ typename }}{% endif %}</h2>
<ul class="navlist">
    <li><a href="/dbpub/incHKannual.asp?t={{ t }}">Yearly</a></li>
    <li class="livebutton">Monthly</li>
</ul>
<div class="clear"></div>

<p>This page shows the number of companies newly-incorporated and dissolved in HK per
month since 1985, on a gross and net basis. You can select the type of company below, but keep in mind
that this is based on their latest recorded status, so for example, a company
that is no longer listed on the stock exchange will no longer be categorised as
a listed company. Dissolutions data lag by about 2 weeks as it
takes that long to check all companies. There was an expiry of a waiver of business Registration fees
at the end of 31-Mar-2003, 31-Mar-2009, 31-Jul-2011 and 31-Mar-2014, accounting for a spike in incorporations
in those months as formation firms stocked up on shelf companies. Online
incorporation has been allowed since 18-Mar-2011. If too many shelf companies
are created then they may be dissolved before being used if annual fees are due.</p>

<p>Note: data on dissolutions are not reliable after 16-Nov-2020, when we
started our last complete scan of the registry. On 22-Nov-2020, the registry
implemented a new captcha system, preventing further data collection. The
limited data available on
<a href="https://data.gov.hk/en-datasets/provider/hk-cr?order=name&amp;file-content=no" target="_blank">
data.gov.hk</a> (comprising delayed weekly updates) only cover new
incorporations and name-changes.</p>

<form method="get" action="/dbpub/incHKmonth.asp">
    <div class="inputs">
        Company type:
        <select name="t">
            <option value="-1" {% if t == -1 %}selected{% endif %}>Any type</option>
            {% for orgtype in orgtypes %}
            <option value="{{ orgtype.orgtype }}" {% if orgtype.orgtype == t %}selected{% endif %}>{{ orgtype.typename }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Go">
    </div>
    <div class="clear"></div>
</form>

<table class="numtable center yscroll">
<tr>
    <th>Month</th>
    <th>Incorporated</th>
    <th>Dissolved</th>
    <th>Net</th>
    <th>Total<br/>incorporated</th>
    <th>Total<br/>dissolved</th>
    <th>Net alive</th>
</tr>
{% set inc_cumul = inc_total %}
{% set dis_cumul = dis_total %}
{% for month in months %}
{% set inc_cumul = inc_cumul + month.incorporated %}
{% set dis_cumul = dis_cumul + month.dissolved %}
<tr>
    <td>{{ month.d }}</td>
    <td><a href="/dbpub/incHKcaltype.asp?y={{ month.d[:4] }}&amp;m={{ month.d[5:7] }}&amp;t={{ t }}">{{ '{:,}'.format(month.incorporated) }}</a></td>
    <td><a href="/dbpub/disHKcaltype.asp?y={{ month.d[:4] }}&amp;m={{ month.d[5:7] }}&amp;t={{ t }}">{{ '{:,}'.format(month.dissolved) }}</a></td>
    <td>{{ '{:,}'.format(month.incorporated - month.dissolved) }}</td>
    <td>{{ '{:,}'.format(inc_cumul) }}</td>
    <td>{{ '{:,}'.format(dis_cumul) }}</td>
    <td>{{ '{:,}'.format(inc_cumul - dis_cumul) }}</td>
</tr>
{% endfor %}
</table>

<p>Note: Google Charts visualizations can be added later for graphical representation.</p>
{% endblock %}
