{% extends "base_database.html" %}

{% block title %}Housing Authority public rental estates in a District{% endblock %}

{% block content %}
<h2>Housing Authority public rental estates in a District</h2>

<table class="txtable" style="font-weight:bold">
	<tr><td>District:</td><td>{{ dis_name }}</td></tr>
</table>

<p>This page shows the HK Housing Authority's stock of Public Rental units in one District. Data are
<a href="https://data.gov.hk/en-datasets/provider/hk-housing" target="_blank">
sourced here</a>. Click on an Estate to drill down to Blocks, Floors and Units.</p>

<ul class="navlist">
	<li><a href="prhdistricts.asp?sort={{ sort_param }}">Districts</a></li>
</ul>
<div class="clear"></div>

<div class="widthAlert2"></div>
<table class="numtable c2l c3l">
	<tr>
		<th class="colHide2"></th>
		<th><a href="?dis={{ dis }}&amp;sort={% if sort_param == 'en' %}end{% else %}en{% endif %}">Estate</a></th>
		<th><a href="?dis={{ dis }}&amp;sort={% if sort_param == 'cn' %}cnd{% else %}cn{% endif %}">Chinese</a></th>
		<th><a href="?dis={{ dis }}&amp;sort={% if sort_param == 'cd' %}c{% else %}cd{% endif %}">Units</a></th>
		<th>Units<br>with<br>elevator</th>
		<th><a href="?dis={{ dis }}&amp;sort={% if sort_param == 'totad' %}tota{% else %}totad{% endif %}">Total<br>internal<br>floor<br>area sq.m.</a></th>
		<th><a href="?dis={{ dis }}&amp;sort={% if sort_param == 'ad' %}a{% else %}ad{% endif %}">Average<br>internal<br>floor<br>area sq.m.</a></th>
		<th>Map</th>
	</tr>
	{% set ns = namespace(sumc=0, suma=0, sumelev=0) %}
	{% for estate in estates %}
		<tr>
			<td class="colHide2">{{ loop.index }}</td>
			<td><a href="prhblocks.asp?sort={{ sort_param }}&amp;e={{ estate.id }}">{{ estate.en }}</a></td>
			<td><a href="prhblocks.asp?sort={{ sort_param }}&amp;e={{ estate.id }}">{{ estate.cn }}</a></td>
			<td>{{ "{:,}".format(estate.c|int) }}</td>
			<td>{{ "{:,}".format(estate.elev|int) }}</td>
			<td>{{ "{:,}".format(estate.tota|int) }}</td>
			<td>{{ "{:.2f}".format(estate.a|float) if estate.c else '-' }}</td>
			<td><a href="https://maps.google.com/?q={{ estate.latitude }},{{ estate.longitude }}" target="_blank">Open</a></td>
		</tr>
		{% set _ = ns.__setitem__('sumc', ns.sumc + estate.c|int) %}
		{% set _ = ns.__setitem__('suma', ns.suma + estate.tota|int) %}
		{% set _ = ns.__setitem__('sumelev', ns.sumelev + estate.elev|int) %}
	{% endfor %}
	<tr class="total">
		<td class="colHide2"></td>
		<td>Total</td>
		<td></td>
		<td>{{ "{:,}".format(ns.sumc) }}</td>
		<td>{{ "{:,}".format(ns.sumelev) }}</td>
		<td>{{ "{:,}".format(ns.suma) }}</td>
		<td>{{ "{:.2f}".format(ns.suma / ns.sumc) if ns.sumc else '-' }}</td>
		<td></td>
	</tr>
</table>
{% endblock %}
