{% extends "base_database.html" %}

{% block title %}Housing Authority public rental housing by District{% endblock %}

{% block content %}

<h2>Housing Authority public rental housing by District</h2>

<p>This page shows the HK Housing Authority's stock of Public Rental units, by District. Data are
<a href="https://data.gov.hk/en-datasets/provider/hk-housing" target="_blank">sourced here</a>. Click on a District to drill down to Estates, Blocks, Floors
and Units.</p>

{% if districts %}
<p class='widthAlert2'>Some data are hidden to fit your display.<span class='portrait'> Rotate?</span></p>
<table class="numtable c2l c3l">
	<tr>
		<th class="colHide2"></th>
		<th><a href='/dbpub/prhdistricts.asp?sort={{ "end" if sort == "en" else "en" }}'><b>District</b></a></th>
		<th><a href='/dbpub/prhdistricts.asp?sort={{ "cnd" if sort == "cn" else "cn" }}'><b>Chinese</b></a></th>
		<th><a href='/dbpub/prhdistricts.asp?sort={{ "c" if sort == "cd" else "cd" }}'><b>Units</b></a></th>
		<th class="colHide2">Units<br>with<br>elevator</th>
		<th><a href='/dbpub/prhdistricts.asp?sort={{ "tota" if sort == "totad" else "totad" }}'><b>Total<br>internal<br>floor<br>area sq.m.</b></a></th>
		<th><a href='/dbpub/prhdistricts.asp?sort={{ "a" if sort == "ad" else "ad" }}'><b>Average<br>internal<br>floor<br>area sq.m.</b></a></th>
		<th><a href='/dbpub/prhdistricts.asp?sort={{ "rd" if sort == "r" else "r" }}'><b>Region</b></a></th>
	</tr>
	{% for district in districts %}
	<tr>
		<td class="colHide2">{{ loop.index }}</td>
		<td><a href="prhestates.asp?sort={{ url_sort }}&amp;dis={{ district.id }}">{{ district.en }}</a></td>
		<td><a href="prhestates.asp?sort={{ url_sort }}&amp;dis={{ district.id }}">{{ district.cn }}</a></td>
		<td>{{ "{:,.0f}".format(district.c) }}</td>
		<td class="colHide2">{{ "{:,.0f}".format(district.elev) }}</td>
		<td>{{ "{:,.0f}".format(district.tota) }}</td>
		<td>{{ "%.2f"|format(district.a) if district.c > 0 else '-' }}</td>
		<td>{{ district.region }}</td>
	</tr>
	{% endfor %}
	<tr class="total">
		<td class="colHide2"></td>
		<td>Total</td>
		<td></td>
		<td>{{ "{:,.0f}".format(total_units) }}</td>
		<td class="colHide2">{{ "{:,.0f}".format(total_elev) }}</td>
		<td>{{ "{:,.0f}".format(total_area) }}</td>
		<td>{{ "%.2f"|format(avg_area) }}</td>
	</tr>
</table>
{% else %}
<p>No data found.</p>
{% endif %}

{% endblock %}
