{% extends "base_database.html" %}
{% block title %}League Tables of Advisers{% endblock %}
{% block content %}
<h2>Webb-site League Tables</h2>

<ul class="navlist">
    {# TODO: Implement league_notes_a route #}
    {# <li><a href="{{ url_for('dbpub_statistics.league_notes_a') }}">Notes</a></li> #}
    <li id="livebutton">All league tables</li>
</ul>
<div class="clear"></div>

<p>Click the number of positions for continuing roles to see a current league
table of advisers.</p>

<table class="numtable fcl yscroll">
    <tr>
        <th>Role</th>
        <th>Positions</th>
    </tr>
    {% for row in roles_data %}
    <tr>
        <td>{{ row.role }}</td>
        <td>
            {% if not row.onetime %}
                <a href="{{ url_for('dbpub_statistics.advltsnap', r=row.roleid) }}">{{ row.countofrole }}</a>
            {% else %}
                {{ row.countofrole }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
