{% extends "base_database.html" %}

{% block title %}Latest changes in SFC licensees{% endblock %}

{% block content %}
<h2>Latest changes in SFC licensees</h2>

<ul class="navlist">
	<li><a href="SFClicount.asp">League table</a></li>
	<li class="livebutton">Latest moves</li>
	<li><a href="SFChistall.asp">Historic total</a></li>
</ul>
<div class="clear"></div>

<p>This page shows appointments (+) and cessations (-) in SFC licensees over the last 14 days.
A licensee is either a Responsible Officer (<strong>RO</strong>) or Representative (<strong>Rep</strong>).
We treat a person who holds both roles (in different activities) as
an RO. We query the SFC database and update the tables regularly. A
licensee is not necessarily a full-time employee and may have roles in more than
1 firm.</p>

<form method="get" action="SFCchanges.asp">
	<input type="hidden" name="sort" value="{{ sort }}">
	<div class="inputs">
		Take me back: <input type="date" name="d" id="d" value="{{ d }}" onblur="this.form.submit()">
	</div>
	<div class="inputs">
		<input type="submit" value="Go">
		<input type="submit" value="Clear" onclick="document.getElementById('d').value=''">
	</div>
	<div class="clear"></div>
</form>

<p class='widthAlert3'>Some data are hidden to fit your display.<span class='portrait'> Rotate?</span></p>

<table class="opltable">
	<tr>
		<th class="colHide1">Row</th>
		<th><a href="?d={{ d }}&amp;sort={% if sort == 'orgup' %}orgdn{% else %}orgup{% endif %}">Firm</a></th>
		<th><a href="?d={{ d }}&amp;sort={% if sort == 'pplup' %}ppldn{% else %}pplup{% endif %}">Licensee</a></th>
		<th>Role</th>
		<th class="colHide3"><a href="?d={{ d }}&amp;sort={% if sort == 'datdn' %}datup{% else %}datdn{% endif %}">Appointed</a></th>
		<th class="colHide3"><a href="?d={{ d }}&amp;sort={% if sort == 'datdn' %}datup{% else %}datdn{% endif %}">Ceased</a></th>
	</tr>
	{% set ns = namespace(lastorg=None, lastppl=None) %}
	{% for change in changes %}
		{% set is_first_row = (sort in ['orgup', 'orgdn'] and ns.lastorg != change['orgid']) or (sort in ['pplup', 'ppldn'] and ns.lastppl != change['pplid']) %}
		{% if is_first_row %}
			<tr class="total">
				<td class="colHide1">{{ loop.index }}</td>
				{% if ns.lastorg != change['orgid'] %}
					<td><a href='officers.asp?p={{ change["orgid"] }}'>{{ change["orgname"] }}</a></td>
				{% else %}
					<td>&nbsp;</td>
				{% endif %}
				{% if ns.lastppl != change['pplid'] %}
					<td><a href='positions.asp?p={{ change["pplid"] }}'>{{ change["pplname"] }}</a></td>
				{% else %}
					<td>&nbsp;</td>
				{% endif %}
				<td>{{ change["appces"] }}{{ change["postext"] }}</td>
				{% if change["appces"] == '+' %}
					<td class="colHide3 nowrap"><b>{{ change["apptdate"] }}</b></td>
					<td class="colHide3 nowrap">{{ change["resdate"] or '' }}</td>
				{% else %}
					<td class="colHide3 nowrap">{{ change["apptdate"] or '' }}</td>
					<td class="colHide3 nowrap"><b>{{ change["resdate"] }}</b></td>
				{% endif %}
			</tr>
		{% else %}
			<tr>
				<td class="colHide1">{{ loop.index }}</td>
				{% if ns.lastorg != change['orgid'] %}
					<td><a href='SFClicensees.asp?p={{ change["orgid"] }}'>{{ change["orgname"] }}</a></td>
				{% else %}
					<td>&nbsp;</td>
				{% endif %}
				{% if ns.lastppl != change['pplid'] %}
					<td><a href='SFClicrec.asp?p={{ change["pplid"] }}'>{{ change["pplname"] }}</a></td>
				{% else %}
					<td>&nbsp;</td>
				{% endif %}
				<td>{{ change["appces"] }}{{ change["postext"] }}</td>
				{% if change["appces"] == '+' %}
					<td class="colHide3 nowrap"><b>{{ change["apptdate"] }}</b></td>
					<td class="colHide3 nowrap">{{ change["resdate"] or '' }}</td>
				{% else %}
					<td class="colHide3 nowrap">{{ change["apptdate"] or '' }}</td>
					<td class="colHide3 nowrap"><b>{{ change["resdate"] }}</b></td>
				{% endif %}
			</tr>
		{% endif %}
		{% set ns.lastppl = change['pplid'] %}
		{% set ns.lastorg = change['orgid'] %}
	{% endfor %}
</table>
{% endblock %}
