{% extends "base_database.html" %}
{% block extra_head %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
{% endblock %}
{% block title %}Weekly summary of short positions disclosed to SFC{% endblock %}
{% block content %}
<h2>Weekly summary of short positions disclosed to SFC</h2>
<ul class="navlist">
	<li><a href="{{ url_for('dbpub_short_selling.shortdate') }}">Short positions</a></li>
	<li class="livebutton">Weekly summary</li>
	<li><a href="{{ url_for('dbpub_short_selling.short_notes') }}">Notes</a></li>
</ul>
<div class="clear"></div>

{% if summaries %}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
	Highcharts.setOptions({ global: {useUTC: false}, lang: {thousandsSep: ','} });
	Highcharts.stockChart('chart1', {
		chart: { backgroundColor: "#FFFFFF", borderWidth: 1, borderColor: "black", height: 500, spacingLeft: 20 },
		rangeSelector: { selected: 8 },
		title: { text: '<b>Weekly short positions</b>', style: { fontSize: '1em' } },
		yAxis: [{
			title: { text: '% of market cap' },
			labels: { format: '{value:.1f}%' },
			height: '60%', lineWidth: 1, min: 0
		}, {
			title: { text: 'Short positions HK$bn' },
			top: '65%', height: '35%', offset: 0, lineWidth: 1
		}],
		series: [{
			type: 'line', name: 'stake',
			data: [
				{% for r in summaries|reverse %}[{{ r.timestamp|int }}, {{ '%.3f'|format((r.stake or 0) * 100) }}]{{ ',' if not loop.last else '' }}{% endfor %}
			],
			tooltip: { valueDecimals: 3, valueSuffix: '%' }
		}, {
			type: 'column', name: 'short position', color: 'grey', yAxis: 1,
			data: [
				{% for r in summaries|reverse %}[{{ r.timestamp|int }}, {{ '%.2f'|format(r.sumval or 0) }}]{{ ',' if not loop.last else '' }}{% endfor %}
			],
			tooltip: { valueDecimals: 2, valuePrefix: '$', valueSuffix: 'bn' }
		}]
	});
});
</script>
<div id="chart1" style="width:95%;height:500px;margin-left:0"></div>
<div class="clear"></div>

<table class="numtable center c2l">
	<tr>
		<th class="colHide3">Row</th>
		<th class="nowrap">Date</th>
		<th>Stocks</th>
		<th>Short<br>value<br>HK$bn</th>
		<th>Market<br>cap<br>HK$bn</th>
		<th>Stake<br>%</th>
	</tr>
	{% for row in summaries %}
	<tr>
		<td class="colHide3">{{ loop.index }}</td>
		<td class="nowrap"><a href="{{ url_for('dbpub_short_selling.shortdate', d=row.datestr) }}">{{ row.datestr }}</a></td>
		<td>{{ row.cnt }}</td>
		<td>{{ '{:,.2f}'.format(row.sumval) }}</td>
		<td>{{ '{:,.0f}'.format(row.sumcap) }}</td>
		<td>{{ '{:,.3f}'.format(row.stake * 100) }}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<p><b>None found.</b></p>
{% endif %}
{% endblock %}
