{% extends "base_database.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h2>{{ title }}</h2>

<p>In the interest of disclosure and by popular request, these are the
holdings of our founder David Webb of 5% or more in HK-listed stocks, based on the
latest published statutory filing in each stock. With certain <em>de minimis</em>
exceptions, substantial shareholders must disclose when their stake increases or
decreases through a whole 1% boundary. We will endeavour to update this table whenever
a filing is published, but the filings published by HKEX are authoritative and
can be
<a href="https://di.hkex.com.hk/di/NSSrchPerson.aspx?src=MAIN&amp;lang=EN" target="_blank">
searched by shareholder name here</a>. Prices are not live; they are normally
updated after the end of each market day.</p>

<p>Mr Webb does of course have undisclosed holdings which are less than 5% of a
stock, and
may have previously-disclosed holdings which have fallen below 5%, either by
disposal or dilution. Holdings are removed from this table when the last filing
falls below the 5% disclosure threshold.</p>

<p>Click on the stock code to see total return charts and other stock data. Click on
the company name to see corporate data. Click on the date to see the raw filing.</p>

<p><strong>Investment alert</strong>: Mr Webb does not give stock
recommendations. If you receive any tips using his name on messaging apps, these
are fake.</p>

{% if holdings|length == 0 %}
	<p><b>None found.</b></p>
{% else %}
	<p class='widthAlert1'>Some data are hidden to fit your display.<span class='portrait'> Rotate?</span></p>
	<table class="numtable">
		<tr>
			<th class="colHide1">Row</th>
			<th><a href="{{ url_for('dbpub_statistics.webbchips', sort='codeup' if sort!='codeup' else 'codedn') }}"><b>Stock<br>Code</b></a></th>
			<th class="left"><a href="{{ url_for('dbpub_statistics.webbchips', sort='nameup' if sort!='nameup' else 'namedn') }}"><b>Issuer</b></a></th>
			<th class="colHide2"><a href="{{ url_for('dbpub_statistics.webbchips', sort='datedn' if sort!='datedn' else 'dateup') }}"><b>Event<br>date</b></a></th>
			<th class="colHide3">Shares<br>filed</th>
			<th><a href="{{ url_for('dbpub_statistics.webbchips', sort='stkdn' if sort!='stkdn' else 'stkup') }}"><b>Stake<br>filed<br>%</b></a></th>
			<th class="colHide3">Price</th>
			<th class="colHide2"><a href="{{ url_for('dbpub_statistics.webbchips', sort='qddn' if sort!='qddn' else 'qdup') }}"><b>Price<br>date</b></a></th>
			<th><a href="{{ url_for('dbpub_statistics.webbchips', sort='mvdn' if sort!='mvdn' else 'mvup') }}"><b>Market<br>value<br>HK$m</b></a></th>
		</tr>
	{% for holding in holdings %}
		<tr>
			<td class="colHide1">{{ loop.index }}</td>
			<td><a href="str.asp?i={{ holding.issueid }}">{{ holding.sc }}</a></td>
			<td class="left"><a href='{{ url_for('dbpub_statistics.enigma_orgdata', p=holding.issuer) }}'>{{ holding.name }}</a></td>
			<td class="colHide2"><a target="_blank" href="https://di.hkex.com.hk/di/NSForm1.aspx?fn={{ holding.filing }}">{{ holding.atdate.strftime('%Y-%m-%d') if holding.atdate else '' }}</a></td>
			<td class="colHide3">{{ '{:,.0f}'.format(holding.shares) if holding.shares else '' }}</td>
			<td>{{ '{:.2f}'.format(holding.stake) if holding.stake is not none else '' }}</td>
			<td class="colHide3">{{ '{:.3f}'.format(holding.price) if holding.price is not none else '' }}</td>
			<td class="colHide2">{{ holding.qdate.strftime('%Y-%m-%d') if holding.qdate else '' }}</td>
			<td>{{ '{:,.1f}'.format(holding.value) if holding.value is not none else '' }}</td>
		</tr>
	{% endfor %}
		<tr class="total">
			<td class="colHide1"></td>
			<td></td>
			<td class="left">Total</td>
			<td class="colHide2"></td>
			<td class="colHide3"></td>
			<td></td>
			<td class="colHide3"></td>
			<td class="colHide2"></td>
			<td>{{ '{:,.1f}'.format(total_value) if total_value is not none else '' }}</td>
		</tr>
	</table>
{% endif %}
{% endblock %}
