{% extends "base_database.html" %}

{% block title %}Websites{% endblock %}

{% block content %}
{# orgBar navigation would go here #}

{% if websites %}
	<h3>Websites</h3>
	<table class="txtable">
		<tr>
			<th>URL</th>
			<th>Status</th>
		</tr>
		{% for site in websites %}
			<tr>
				<td>
					{% if not site.dead %}
						<a href="{{ site.url }}" target="_blank">{{ site.url }}</a>
					{% else %}
						<s>{{ site.url }}</s>
					{% endif %}
				</td>
				<td>{{ 'Archived' if site.dead else 'Active' }}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p>No websites found.</p>
{% endif %}
{% endblock %}
